Repository fisherjoey/SportsManager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-developer, @qa-lead, @devops-lead, @database-admin, @backend-lead, @security-lead, @game-feature-owner, @referee-feature-owner, @assignment-feature-owner, @frontend-lead, @design-system-owner, @dashboard-owner, @table-component-owner, @product-owner, @mobile-specialist, @performance-specialist, @integration-specialist

.github/CODEOWNERS:

# Code Owners for Sports Management App
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-lead @senior-developer

# QA and Testing Infrastructure
QA-QC-PLAN.md @qa-lead @team-lead
docs/TESTING-STANDARDS.md @qa-lead @team-lead
AGENT-GUIDELINES.md @qa-lead @team-lead
jest.config.js @qa-lead
.github/workflows/ @devops-lead @team-lead

# Database and Backend Architecture
backend/migrations/ @database-admin @backend-lead @team-lead
backend/seeds/ @database-admin @backend-lead
backend/src/config/ @backend-lead @team-lead
backend/src/middleware/ @backend-lead @security-lead
backend/knexfile.js @database-admin @backend-lead
database-schema.sql @database-admin @backend-lead

# Backend API Routes
backend/src/routes/ @backend-lead
backend/src/routes/auth.js @backend-lead @security-lead
backend/src/routes/games.js @backend-lead @game-feature-owner
backend/src/routes/referees.js @backend-lead @referee-feature-owner
backend/src/routes/assignments.js @backend-lead @assignment-feature-owner

# Frontend Architecture
app/ @frontend-lead
components/ @frontend-lead
components/ui/ @frontend-lead @design-system-owner
lib/ @frontend-lead
hooks/ @frontend-lead

# Core Business Logic Components
components/game-management.tsx @frontend-lead @game-feature-owner
components/referee-management.tsx @frontend-lead @referee-feature-owner
components/admin-dashboard.tsx @frontend-lead @dashboard-owner
components/data-table/ @frontend-lead @table-component-owner

# Authentication and Security
backend/src/middleware/auth.js @security-lead @backend-lead
components/auth-provider.tsx @security-lead @frontend-lead
components/login-form.tsx @security-lead @frontend-lead

# Configuration Files
package.json @team-lead @devops-lead
backend/package.json @team-lead @backend-lead
next.config.mjs @frontend-lead @devops-lead
tailwind.config.ts @frontend-lead @design-system-owner
tsconfig.json @frontend-lead @team-lead

# CI/CD and DevOps
.github/ @devops-lead @team-lead
.eslintrc.js @qa-lead @team-lead
backend/.eslintrc.js @qa-lead @backend-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
README.md @team-lead
backend/README.md @backend-lead @team-lead
GITHUB-INTEGRATION-GUIDE.md @devops-lead @team-lead
CLAUDE.md @team-lead @product-owner

# Sensitive Configuration (require extra scrutiny)
.env* @security-lead @devops-lead @team-lead
**/secrets* @security-lead @devops-lead
**/*secret* @security-lead @devops-lead

# Testing Files (require QA approval)
**/*.test.* @qa-lead
**/*.spec.* @qa-lead
**/tests/ @qa-lead
__tests__/ @qa-lead
backend/tests/ @qa-lead @backend-lead

# Mobile and Responsive Design
**/*mobile* @frontend-lead @mobile-specialist
**/*responsive* @frontend-lead @mobile-specialist

# Performance Critical Files
**/*performance* @performance-specialist @team-lead
**/*optimization* @performance-specialist
lib/utils.ts @frontend-lead @performance-specialist

# External Integrations
**/integrations/ @integration-specialist @backend-lead
**/webhooks/ @integration-specialist @security-lead

fix: Resolve 1.8s event loop lag by moving RBAC scanner to background
  backend/src/config/performance.ts
  backend/src/server.ts
Owners: @performance-specialist, @team-lead, @senior-developer

fix: Suppress expected 401 authentication errors in frontend console
  .claude/settings.local.json
  backend/src/middleware/auth.ts
  backend/src/routes/admin/access.ts
  backend/src/routes/auth.ts
  backend/src/routes/games.ts
  backend/src/services/PermissionService.ts
  frontend/components/app-sidebar.tsx
  frontend/lib/api.ts
Owners: @team-lead, @senior-developer, @backend-lead, @security-lead, @frontend-lead

feat: Add test user creation scripts
  .claude/settings.local.json
  backend/scripts/create-test-user.js
  backend/scripts/simple-test-user.js
Owners: @team-lead, @senior-developer

fix: Resolve HTTP 431 header too large errors
  backend/src/routes/auth.ts
  backend/src/server.ts
Owners: @backend-lead, @team-lead, @senior-developer

fix: Add proper error handling to /api/auth/me endpoint
  backend/src/routes/auth.ts
Owners: @backend-lead

debug: Add detailed console logging to auth provider
  frontend/components/auth-provider.tsx
Owners: @frontend-lead

fix: Set up user roles and authentication properly
  .claude/settings.local.json
  backend/scripts/create-demo-users.js
  backend/scripts/setup-roles-correct.js
  backend/scripts/setup-roles.js
  frontend/components/login-form.tsx
Owners: @team-lead, @senior-developer, @frontend-lead

feat: Add comprehensive role-based access control system
  .claude/settings.local.json
  backend/scripts/setup-permissions.js
  backend/src/app.ts
  backend/src/middleware/auth.ts
  cookies.txt
Owners: @team-lead, @senior-developer, @backend-lead, @security-lead

feat: Add migration and seed files for RBAC system
  .claude/settings.local.json
Owners: @team-lead, @senior-developer

feat: Successfully set up RBAC system with 6 roles
  .claude/settings.local.json
Owners: @team-lead, @senior-developer

feat: Create test users with assigned roles for all 6 RBAC roles
  backend/scripts/assign-roles-to-users.js
Owners: @team-lead, @senior-developer

fix: Resolve RBAC access denied issue for all authenticated users
  backend/scripts/populate-page-access.js
  backend/src/middleware/accessControl.ts
Owners: @team-lead, @senior-developer, @backend-lead, @security-lead
