Repository fisherjoey/SportsManager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-developer, @qa-lead, @devops-lead, @database-admin, @backend-lead, @security-lead, @game-feature-owner, @referee-feature-owner, @assignment-feature-owner, @frontend-lead, @design-system-owner, @dashboard-owner, @table-component-owner, @product-owner, @mobile-specialist, @performance-specialist, @integration-specialist

.github/CODEOWNERS:

# Code Owners for Sports Management App
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-lead @senior-developer

# QA and Testing Infrastructure
QA-QC-PLAN.md @qa-lead @team-lead
docs/TESTING-STANDARDS.md @qa-lead @team-lead
AGENT-GUIDELINES.md @qa-lead @team-lead
jest.config.js @qa-lead
.github/workflows/ @devops-lead @team-lead

# Database and Backend Architecture
backend/migrations/ @database-admin @backend-lead @team-lead
backend/seeds/ @database-admin @backend-lead
backend/src/config/ @backend-lead @team-lead
backend/src/middleware/ @backend-lead @security-lead
backend/knexfile.js @database-admin @backend-lead
database-schema.sql @database-admin @backend-lead

# Backend API Routes
backend/src/routes/ @backend-lead
backend/src/routes/auth.js @backend-lead @security-lead
backend/src/routes/games.js @backend-lead @game-feature-owner
backend/src/routes/referees.js @backend-lead @referee-feature-owner
backend/src/routes/assignments.js @backend-lead @assignment-feature-owner

# Frontend Architecture
app/ @frontend-lead
components/ @frontend-lead
components/ui/ @frontend-lead @design-system-owner
lib/ @frontend-lead
hooks/ @frontend-lead

# Core Business Logic Components
components/game-management.tsx @frontend-lead @game-feature-owner
components/referee-management.tsx @frontend-lead @referee-feature-owner
components/admin-dashboard.tsx @frontend-lead @dashboard-owner
components/data-table/ @frontend-lead @table-component-owner

# Authentication and Security
backend/src/middleware/auth.js @security-lead @backend-lead
components/auth-provider.tsx @security-lead @frontend-lead
components/login-form.tsx @security-lead @frontend-lead

# Configuration Files
package.json @team-lead @devops-lead
backend/package.json @team-lead @backend-lead
next.config.mjs @frontend-lead @devops-lead
tailwind.config.ts @frontend-lead @design-system-owner
tsconfig.json @frontend-lead @team-lead

# CI/CD and DevOps
.github/ @devops-lead @team-lead
.eslintrc.js @qa-lead @team-lead
backend/.eslintrc.js @qa-lead @backend-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
README.md @team-lead
backend/README.md @backend-lead @team-lead
GITHUB-INTEGRATION-GUIDE.md @devops-lead @team-lead
CLAUDE.md @team-lead @product-owner

# Sensitive Configuration (require extra scrutiny)
.env* @security-lead @devops-lead @team-lead
**/secrets* @security-lead @devops-lead
**/*secret* @security-lead @devops-lead

# Testing Files (require QA approval)
**/*.test.* @qa-lead
**/*.spec.* @qa-lead
**/tests/ @qa-lead
__tests__/ @qa-lead
backend/tests/ @qa-lead @backend-lead

# Mobile and Responsive Design
**/*mobile* @frontend-lead @mobile-specialist
**/*responsive* @frontend-lead @mobile-specialist

# Performance Critical Files
**/*performance* @performance-specialist @team-lead
**/*optimization* @performance-specialist
lib/utils.ts @frontend-lead @performance-specialist

# External Integrations
**/integrations/ @integration-specialist @backend-lead
**/webhooks/ @integration-specialist @security-lead

Final preparation for GitHub integration
  CLAUDE.md
  __tests__/api-transformations.test.js
  __tests__/data-table.test.jsx
  __tests__/referee-management.test.jsx
  __tests__/referee-mobile-card.test.jsx
  app/complete-signup/page.tsx
  app/layout.tsx
  backend/migrations/023_enhance_availability_system.js
  components/referee-management.tsx
  jest.setup.js
  lib/api.ts
  package.json
Owners: @team-lead, @product-owner, @qa-lead, @frontend-lead, @mobile-specialist, @database-admin, @backend-lead, @referee-feature-owner, @senior-developer, @devops-lead

Add comprehensive database schema documentation
  backend/src/services/emailService.js
  database-diagram.md
  database-diagram.pdf
Owners: @team-lead, @senior-developer

Enable referee availability system
  backend/src/app.js
Owners: @team-lead, @senior-developer

Add availability calendar access for referees
  components/app-sidebar.tsx
  components/referee-dashboard.tsx
Owners: @frontend-lead

Fix frontend availability calendar loading issues
  components/availability-calendar.tsx
  lib/api.ts
  lib/types.ts
Owners: @frontend-lead

Fix availability data loading issues
  backend/src/routes/auth.js
  components/referee-dashboard.tsx
  lib/types.ts
Owners: @backend-lead, @security-lead, @frontend-lead

Increase rate limits for development
  backend/src/app.js
Owners: @team-lead, @senior-developer

Fix infinite API request loop in availability calendar
  components/availability-calendar.tsx
Owners: @frontend-lead

Fix empty referee ID in availability API calls
  lib/api.ts
Owners: @frontend-lead

Implement games management components from v0 designs
  components/assign-chunk-dialog.tsx
  components/game-assignment-board.tsx
  components/games-management-page.tsx
  lib/mock-data.ts
Owners: @frontend-lead

Enhance table functionality with advanced filtering, date picker, and CSV support
  CLAUDE.md
  components/game-management.tsx
  components/teams-locations/create-location-dialog.test.tsx
  components/teams-locations/create-location-dialog.tsx
  components/teams-locations/create-team-dialog.test.tsx
  components/teams-locations/create-team-dialog.tsx
  components/teams-locations/location-details-dialog.test.tsx
  components/teams-locations/location-details-dialog.tsx
  components/teams-locations/team-details-dialog.test.tsx
  components/teams-locations/team-details-dialog.tsx
  components/teams-locations/teams-locations-page.test.tsx
  components/teams-locations/teams-locations-page.tsx
  components/ui/filterable-table.tsx
Owners: @team-lead, @product-owner, @frontend-lead, @game-feature-owner, @qa-lead, @design-system-owner

Fix organization settings API integration
  components/organization-settings.tsx
  database-schema-changes.md
  lib/api.ts
Owners: @frontend-lead, @team-lead, @senior-developer

Implement improved availability picker UX with selection mode
  components/availability-calendar.tsx
Owners: @frontend-lead

Fix availability calendar API call parameter bug
  components/availability-calendar.tsx
Owners: @frontend-lead

Implement tertiary availability system with strategic modes
  backend/migrations/025_add_availability_strategy.js
  backend/migrations/025_create_posts_system.js
  backend/migrations/026_seed_post_categories.js
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/routes/organization.js
  backend/src/routes/posts.js
  components/admin-dashboard.tsx
  components/app-sidebar.tsx
  components/availability-calendar.tsx
  components/dashboard-overview.tsx
  components/organization-settings.tsx
  components/posts-management.tsx
  components/rich-text-editor.tsx
  lib/api.ts
  package-lock.json
  package.json
Owners: @database-admin, @backend-lead, @team-lead, @senior-developer, @frontend-lead, @dashboard-owner, @devops-lead

Implement enhanced assignment system UI with AI integration and historic patterns
  backend/migrations/026_add_referee_availability_strategy.js
  backend/src/routes/availability.js
  backend/src/routes/referees.js
  components/availability-calendar.tsx
  components/dashboard-overview.tsx
  components/game-assignment-board.tsx
  components/organization-settings.tsx
  components/posts-management.tsx
  components/rich-text-editor.tsx
  lib/api.ts
Owners: @database-admin, @backend-lead, @team-lead, @referee-feature-owner, @frontend-lead

Implement comprehensive AI assignments system with simplified UI
  backend/migrations/027_create_ai_suggestions.js
  backend/migrations/028_create_assignment_patterns.js
  backend/migrations/029_create_game_chunks.js
  backend/migrations/030_create_chunk_games.js
  backend/migrations/20250726062109_create_ai_assignment_rules.js
  backend/seeds/fix_test_seeds.js
  backend/seeds/test/001_test_data.js
  backend/src/app.js
  backend/src/routes/ai-assignment-rules.js
  backend/src/routes/ai-suggestions.js
  backend/src/routes/chunks.js
  backend/src/routes/historic-patterns.js
  backend/tests/assignment-system-test-suite.js
  backend/tests/integration/assignment-system-workflow.test.js
  backend/tests/routes/ai-assignment-rules.test.js
  backend/tests/routes/ai-suggestions.test.js
  backend/tests/routes/chunks.test.js
  backend/tests/routes/historic-patterns.test.js
  components/admin-dashboard.tsx
  components/ai-assignments-page.tsx
  components/ai-assignments-simple.tsx
  components/app-sidebar.tsx
  lib/api.ts
  tsconfig.tsbuildinfo
Owners: @database-admin, @backend-lead, @team-lead, @senior-developer, @qa-lead, @frontend-lead, @dashboard-owner

Implement enterprise-scale AI assignments component with bulk processing
  components/admin-dashboard.tsx
  components/ai-assignments-enterprise.tsx
Owners: @frontend-lead, @dashboard-owner

Integrate enterprise AI assignments with backend API
  components/ai-assignments-enterprise.tsx
Owners: @frontend-lead

Add comprehensive unit tests for enterprise AI assignments system
  __tests__/ai-assignment-api-integration.test.js
  __tests__/ai-assignment-optimization.test.js
  __tests__/ai-assignment-simplified.test.jsx
  __tests__/ai-assignments-enterprise.test.jsx
  components/ai-assignments-enterprise.tsx
Owners: @qa-lead, @performance-specialist, @frontend-lead

Implement comprehensive backend test coverage with 270+ tests
  backend/COMPREHENSIVE-TEST-SUITE-SUMMARY.md
  backend/jest.simple.config.js
  backend/seeds/test/001_test_data.js
  backend/src/middleware/auth.js
  backend/src/services/emailService.fixed.test.js
  backend/tests/database/crud-operations.test.js
  backend/tests/database/schema-validation.test.js
  backend/tests/helpers/test-helpers.js
  backend/tests/middleware/auth-comprehensive.test.js
  backend/tests/middleware/auth.comprehensive.test.js
  backend/tests/routes/assignments-comprehensive.test.js
  backend/tests/routes/auth.comprehensive.test.js
  backend/tests/routes/games-comprehensive.test.js
  backend/tests/routes/games.comprehensive.test.js
  backend/tests/routes/games.simple.test.js
  backend/tests/routes/referees-comprehensive.test.js
  components/app-sidebar.tsx
  components/available-games.tsx
  components/calendar-view.tsx
  components/dashboard-overview.tsx
  components/game-assignment-board.tsx
  components/league-creation.tsx
  components/my-assignments.tsx
  components/posts-management.tsx
  components/referee-dashboard-overview.tsx
  components/referee-management.tsx
  components/teams-locations/teams-locations-page.tsx
  components/tournament-generator.tsx
  components/ui/page-header.tsx
  components/ui/page-layout.tsx
  components/ui/stats-grid.tsx
Owners: @team-lead, @senior-developer, @database-admin, @backend-lead, @security-lead, @qa-lead, @frontend-lead, @referee-feature-owner, @design-system-owner

Standardize page formatting across entire application
  components/calendar-view.tsx
Owners: @frontend-lead

Fix critical database schema issues for comprehensive testing
  backend/DATABASE-SCHEMA-FIX-PLAN.md
  backend/migrations/20250729054304_fix_comprehensive_test_schema.js
  components/ui/address-search.tsx
  components/ui/auto-hiding-tabs.tsx
  components/ui/filterable-table.tsx
  components/ui/game-filters.tsx
  components/ui/location-with-distance.tsx
Owners: @team-lead, @senior-developer, @database-admin, @backend-lead, @frontend-lead, @design-system-owner

Complete page formatting standardization with all component updates
  app/globals.css
  app/layout.tsx
  backend/knexfile.js
  backend/migrations/025_add_availability_strategy.js
  backend/migrations/026_add_referee_availability_strategy.js
  components/admin-dashboard.tsx
  components/ai-assignments-enterprise.tsx
  components/ai-assignments-page.tsx
  components/assign-chunk-dialog.tsx
  components/calendar-view.tsx
  components/data-table/DataTable.tsx
  components/data-table/GameMobileCard.tsx
  components/data-table/columns/game-columns.tsx
  components/game-management.tsx
  components/games-management-page.tsx
  components/teams-locations/create-location-dialog.tsx
  components/teams-locations/create-team-dialog.tsx
  lib/mock-data.ts
  tsconfig.tsbuildinfo
  v0 App/games/game-assignment-board.tsx
Owners: @frontend-lead, @database-admin, @backend-lead, @team-lead, @dashboard-owner, @table-component-owner, @game-feature-owner, @senior-developer

Add comprehensive CMBA 2024-25 season seed data
  backend/seeds/010_cmba_full_season_comprehensive.js
Owners: @database-admin, @backend-lead

Complete comprehensive backend systems audit with actionable recommendations
  backend/BUSINESS-LOGIC-AUDIT.md
  backend/COMPREHENSIVE-BACKEND-AUDIT-PLAN.md
  backend/COMPREHENSIVE-BACKEND-AUDIT-SUMMARY.md
  backend/ERROR-HANDLING-LOGGING-AUDIT.md
  backend/PERFORMANCE-SCALABILITY-AUDIT.md
  backend/SECURITY-AUDIT-FINDINGS.md
Owners: @team-lead, @senior-developer

Implement comprehensive component reuse improvement plan across three phases
  components/data-table/GameMobileCard.tsx
  components/data-table/RefereeMobileCard.tsx
  components/data-table/column-utils.tsx
  components/teams-locations/create-location-dialog.tsx
  components/teams-locations/create-team-dialog.tsx
  components/ui/address-field-group.tsx
  components/ui/base-entity-card.tsx
  components/ui/contact-field-group.tsx
  components/ui/empty-state.tsx
  components/ui/loading-spinner.tsx
  components/ui/specialized-badges.tsx
  hooks/use-form-state.ts
  lib/toast-utils.ts
Owners: @frontend-lead, @table-component-owner, @design-system-owner

[Phase 1.1] Enhance Dashboard Overview with referee performance metrics and enhanced game cards
  components/dashboard-overview.tsx
Owners: @frontend-lead

[Phase 1.2] Enhance Game Management Table with comprehensive improvements
  components/data-table/GameMobileCard.tsx
  components/game-management.tsx
Owners: @frontend-lead, @table-component-owner, @game-feature-owner

[Phase 1.3] Enhance Teams & Locations Data Display with comprehensive improvements
  components/teams-locations/teams-locations-page.tsx
Owners: @frontend-lead

[Phase 2.1] Implement comprehensive referee data expansion
  backend/migrations/20250729203841_add_white_whistle_to_users.js
  backend/seeds/002_users.js
  backend/seeds/011_enhanced_referee_data.js
Owners: @database-admin, @backend-lead, @team-lead

[Phase 2.2] Implement comprehensive assignment scenario creation for testing
  .claude/agents/node-backend-engineer.md
  COMPREHENSIVE-IMPLEMENTATION-PLAN.md
  app/globals.css
  app/layout.tsx
  backend/seeds/001_positions.js
  backend/seeds/012_assignment_scenario_testing.js
  backend/seeds/012_assignment_scenario_testing_v2.js
  backend/seeds/013_validate_assignment_scenarios.js
  components/data-table/DataTable.tsx
  components/ui/filterable-table.tsx
  tailwind.config.ts
  tsconfig.tsbuildinfo
Owners: @team-lead, @senior-developer, @frontend-lead, @database-admin, @backend-lead, @table-component-owner, @design-system-owner

[Phase 2.3] Implement database default values and constraints
  backend/migrations/033_add_referee_roles_white_whistle.js
  backend/migrations/034_add_database_defaults_and_constraints.js
  backend/migrations/20250729054304_fix_comprehensive_test_schema.js
  backend/tests/migrations/database-defaults-constraints.test.js
Owners: @database-admin, @backend-lead, @team-lead, @qa-lead

[Phase 3.1] Implement comprehensive performance indexes
  backend/migrations/20250729204500_add_performance_indexes.js
Owners: @performance-specialist, @team-lead

[Phase 3.2] Implement Missing API Endpoints
  backend/src/app.js
  backend/src/routes/assignments.js
  backend/src/routes/calendar.js
  backend/src/routes/games.js
  backend/src/routes/reports.js
Owners: @team-lead, @senior-developer, @backend-lead, @assignment-feature-owner, @game-feature-owner

[Phase 3.3] Implement comprehensive security enhancements
  backend/migrations/20250729223837_create_audit_logs_table.js
  backend/src/app.js
  backend/src/middleware/auditTrail.js
  backend/src/middleware/errorHandling.js
  backend/src/middleware/rateLimiting.js
  backend/src/middleware/sanitization.js
  backend/src/middleware/security.js
  backend/src/routes/assignments.js
  backend/src/routes/auth.js
  backend/src/routes/games.js
  backend/tests/security/basic-security.test.js
  backend/tests/security/security-enhancements.test.js
Owners: @database-admin, @backend-lead, @team-lead, @senior-developer, @security-lead, @assignment-feature-owner, @game-feature-owner, @qa-lead

Fix games route syntax for security enhancements
  backend/src/routes/games.js
Owners: @backend-lead, @game-feature-owner

Add comprehensive security enhancements summary documentation
  backend/SECURITY-ENHANCEMENTS-SUMMARY.md
Owners: @team-lead, @senior-developer

Complete comprehensive backend audit implementation and frontend fixes
  backend/migrations/033_add_referee_roles_white_whistle.js
  backend/migrations/20250729204500_add_performance_indexes.js
  backend/src/routes/assignments.js
  components/login-form.tsx
Owners: @database-admin, @backend-lead, @team-lead, @performance-specialist, @assignment-feature-owner, @security-lead, @frontend-lead

Implement comprehensive location data storage and distance calculation system
  .dockerignore
  DEPLOYMENT.md
  Dockerfile
  LOCATION_SYSTEM.md
  app/api/health/route.ts
  app/globals.css
  app/layout.tsx
  backend/.dockerignore
  backend/.env.production
  backend/Dockerfile
  backend/create_admin_user.js
  backend/migrations/035_create_user_locations.js
  backend/migrations/036_create_user_location_distances.js
  backend/src/app.js
  backend/src/routes/auth.js
  backend/src/routes/health.js
  backend/src/routes/locations.js
  backend/src/routes/referees.js
  backend/src/services/DistanceCalculationService.js
  backend/src/services/LocationDataService.js
  backend/src/services/LocationDataService.test.js
  backend/src/utils/location-data-manager.js
  components/ai-assignments-enterprise.tsx
  components/data-table/columns/referee-columns.tsx
  deploy/cloudbuild-backend.yaml
  deploy/cloudbuild-frontend.yaml
  deploy/setup-gcp.sh
  install.sh
  lib/api.ts
  next.config.js
  tailwind.config.ts
Owners: @team-lead, @senior-developer, @devops-lead, @frontend-lead, @security-lead, @database-admin, @backend-lead, @referee-feature-owner, @qa-lead, @table-component-owner, @design-system-owner
