Repository fisherjoey/SportsManager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-developer, @qa-lead, @devops-lead, @database-admin, @backend-lead, @security-lead, @game-feature-owner, @referee-feature-owner, @assignment-feature-owner, @frontend-lead, @design-system-owner, @dashboard-owner, @table-component-owner, @product-owner, @mobile-specialist, @performance-specialist, @integration-specialist

.github/CODEOWNERS:

# Code Owners for Sports Management App
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-lead @senior-developer

# QA and Testing Infrastructure
QA-QC-PLAN.md @qa-lead @team-lead
docs/TESTING-STANDARDS.md @qa-lead @team-lead
AGENT-GUIDELINES.md @qa-lead @team-lead
jest.config.js @qa-lead
.github/workflows/ @devops-lead @team-lead

# Database and Backend Architecture
backend/migrations/ @database-admin @backend-lead @team-lead
backend/seeds/ @database-admin @backend-lead
backend/src/config/ @backend-lead @team-lead
backend/src/middleware/ @backend-lead @security-lead
backend/knexfile.js @database-admin @backend-lead
database-schema.sql @database-admin @backend-lead

# Backend API Routes
backend/src/routes/ @backend-lead
backend/src/routes/auth.js @backend-lead @security-lead
backend/src/routes/games.js @backend-lead @game-feature-owner
backend/src/routes/referees.js @backend-lead @referee-feature-owner
backend/src/routes/assignments.js @backend-lead @assignment-feature-owner

# Frontend Architecture
app/ @frontend-lead
components/ @frontend-lead
components/ui/ @frontend-lead @design-system-owner
lib/ @frontend-lead
hooks/ @frontend-lead

# Core Business Logic Components
components/game-management.tsx @frontend-lead @game-feature-owner
components/referee-management.tsx @frontend-lead @referee-feature-owner
components/admin-dashboard.tsx @frontend-lead @dashboard-owner
components/data-table/ @frontend-lead @table-component-owner

# Authentication and Security
backend/src/middleware/auth.js @security-lead @backend-lead
components/auth-provider.tsx @security-lead @frontend-lead
components/login-form.tsx @security-lead @frontend-lead

# Configuration Files
package.json @team-lead @devops-lead
backend/package.json @team-lead @backend-lead
next.config.mjs @frontend-lead @devops-lead
tailwind.config.ts @frontend-lead @design-system-owner
tsconfig.json @frontend-lead @team-lead

# CI/CD and DevOps
.github/ @devops-lead @team-lead
.eslintrc.js @qa-lead @team-lead
backend/.eslintrc.js @qa-lead @backend-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
README.md @team-lead
backend/README.md @backend-lead @team-lead
GITHUB-INTEGRATION-GUIDE.md @devops-lead @team-lead
CLAUDE.md @team-lead @product-owner

# Sensitive Configuration (require extra scrutiny)
.env* @security-lead @devops-lead @team-lead
**/secrets* @security-lead @devops-lead
**/*secret* @security-lead @devops-lead

# Testing Files (require QA approval)
**/*.test.* @qa-lead
**/*.spec.* @qa-lead
**/tests/ @qa-lead
__tests__/ @qa-lead
backend/tests/ @qa-lead @backend-lead

# Mobile and Responsive Design
**/*mobile* @frontend-lead @mobile-specialist
**/*responsive* @frontend-lead @mobile-specialist

# Performance Critical Files
**/*performance* @performance-specialist @team-lead
**/*optimization* @performance-specialist
lib/utils.ts @frontend-lead @performance-specialist

# External Integrations
**/integrations/ @integration-specialist @backend-lead
**/webhooks/ @integration-specialist @security-lead

Implement comprehensive AI-powered receipt processing system
  backend/.env.ai-receipts
  backend/AI-RECEIPT-PROCESSING-SYSTEM.md
  backend/migrations/037_create_expense_receipts.js
  backend/migrations/038_create_expense_categories.js
  backend/migrations/040_create_expense_data.js
  backend/migrations/041_create_expense_approvals.js
  backend/migrations/042_create_ai_processing_logs.js
  backend/package-lock.json
  backend/package.json
  backend/seeds/014_expense_categories.js
  backend/src/app.js
  backend/src/middleware/fileUpload.js
  backend/src/routes/expenses.js
  backend/src/services/aiServices.js
  backend/src/services/queueProcessor.js
  backend/src/services/receiptProcessingService.js
  backend/tests/routes/expenses.test.js
  backend/tests/services/receiptProcessingService.test.js
Owners: @security-lead, @devops-lead, @team-lead, @senior-developer, @database-admin, @backend-lead, @qa-lead

Convert OpenAI API usage to DeepSeek API
  backend/AI-RECEIPT-PROCESSING-SYSTEM.md
  backend/src/services/aiServices.js
  backend/src/services/organizationalAIService.js
  backend/src/services/receiptProcessingService.js
Owners: @team-lead, @senior-developer

Add login account creation and AI testing scripts
  backend/create-test-accounts.js
  backend/simple-ai-test.js
  backend/test-ai-complete.js
  backend/test-ai-services.js
Owners: @team-lead, @senior-developer

Add comprehensive enterprise features to admin interface
  backend/.gitignore
  backend/SETUP_GOOGLE_CLOUD.md
  backend/src/services/aiServices.js
  components/admin-dashboard.tsx
  components/app-sidebar.tsx
  components/security-audit.tsx
  components/system-settings.tsx
  components/workflow-management.tsx
  package-lock.json
  package.json
Owners: @team-lead, @senior-developer, @frontend-lead, @dashboard-owner, @devops-lead

Connect frontend enterprise features to real backend APIs
  backend/ENTERPRISE-API-DOCUMENTATION.md
  backend/ENTERPRISE_GAP_ANALYSIS.md
  backend/README-Enterprise-API-Testing.md
  backend/setup-test-data.sql
  backend/test-config-template.env
  backend/test-enterprise-api.sh
  backend/validate-test-environment.sh
  components/analytics-dashboard.tsx
  components/asset-tracking.tsx
  components/budget-tracker.tsx
  components/compliance-tracking.tsx
  components/document-repository.tsx
  components/employee-management.tsx
  components/financial-dashboard.tsx
  lib/api.ts
  tsconfig.tsbuildinfo
Owners: @team-lead, @senior-developer, @frontend-lead

Implement complete CRUD operations for budget management frontend
  components/budget-tracker.tsx
Owners: @frontend-lead

Fix receipt upload system - resolve critical backend and frontend issues
  COMPREHENSIVE_BUDGET_TESTING_REPORT.md
  Orders & Purchases _ Costco.pdf
  app/budget/page.tsx
  app/financial-budgets/page.tsx
  backend/migrations/048_create_comprehensive_security_system.js.disabled
  backend/package-lock.json
  backend/package.json
  backend/seeds/budget_system_seed.js
  backend/src/app.js
  backend/src/middleware/auth.js
  backend/src/middleware/fileUpload.js
  backend/src/middleware/security.js
  backend/src/routes/auth.js
  backend/src/routes/budgets.js
  backend/src/routes/expenses.js
  backend/src/services/aiServices.js
  backend/src/services/receiptProcessingService.js
  backend/test-files/test-receipt.json
  backend/test-files/test-receipt.png
  backend/test-files/test-receipt.txt
  backend/test-receipt-upload.txt
  backend/test-receipt.png
  backend/test_budget_api_comprehensive.js
  backend/test_receipt.txt
  backend/uploads/receipts/1753914223885_6b0f10a9-9e8d-4029-b8a8-d9383e09c891.png
  components/budget-tracker.tsx
  components/receipt-upload.tsx
  lib/api.ts
  test_budget_component.js
  test_budget_e2e_workflow.js
  test_budget_frontend.js
Owners: @team-lead, @senior-developer, @frontend-lead, @database-admin, @backend-lead, @security-lead

Fix budget management UI issue - component now renders correctly
  components/budget-tracker.tsx
Owners: @frontend-lead

Fix receipt processing database schema - add missing columns
  components/budget-tracker.tsx
Owners: @frontend-lead

Implement complete View & Download receipt functionality with enhanced line items
  backend/src/routes/expenses.js
  components/budget-tracker.tsx
  components/receipt-upload.tsx
  components/receipt-viewer-modal.tsx
  lib/api.ts
Owners: @backend-lead, @frontend-lead

Fix critical frontend issues identified by Playwright tests
  PHASE1_COMPREHENSIVE_TESTING_REPORT.md
  QA_VALIDATION_REPORT.md
  app/games/page.tsx
  backend/tests/integration/budget-concurrent-access.test.js
  components/budget-tracker.tsx
  tests/frontend/mobile-responsiveness.spec.js
  tests/frontend/validation-summary.spec.js
Owners: @team-lead, @senior-developer, @frontend-lead, @qa-lead, @backend-lead, @mobile-specialist

Phase 1 & 2 Enhancements: Authentication, Mobile UX, AI improvements, and System Optimization
  backend/migrations/20250731_performance_indexes.js
  backend/src/routes/ai-suggestions.js
  backend/src/routes/expenses.js
  backend/src/routes/games.js
  backend/src/services/budgetCalculationService.js
  components/app-sidebar.tsx
  components/availability-calendar.tsx
  components/my-assignments.tsx
  components/receipt-viewer-modal.tsx
  components/referee-dashboard-overview.tsx
  components/referee-dashboard.tsx
  components/ui/button.tsx
  debug-receipt-api.js
  lib/api.ts
  playwright-report/index.html
  test-receipt-api.js
  test-results/.last-run.json
  test-results/auth-demo-login-attempt.png
  test-results/auth-login-form.png
  test-results/auth-login-route.png
  test-results/auth-protected-budget.png
  test-results/budget-page.png
  test-results/health-check-Frontend-Heal-876ac-uests-complete-successfully-chromium/error-context.md
  test-results/health-check-Frontend-Heal-876ac-uests-complete-successfully-chromium/test-failed-1.png
  test-results/health-check-Frontend-Heal-9b577-t-page-loads-if-accessible--chromium/error-context.md
  test-results/health-check-Frontend-Heal-be0d0-ogin-page-renders-correctly-chromium/error-context.md
  test-results/health-check-Frontend-Heal-be0d0-ogin-page-renders-correctly-chromium/test-failed-1.png
  test-results/health-check-Frontend-Heal-ed300-t-page-loads-if-accessible--chromium/error-context.md
  test-results/health-check-Frontend-Heal-ed300-t-page-loads-if-accessible--chromium/test-failed-1.png
  test-results/homepage.png
  test-results/mobile-budget.png
  test-results/mobile-homepage.png
  test-results/mobile-login.png
  test-results/tablet-login.png
  test-results/validation-budget.png
  test-results/validation-complete-signup.png
  test-results/validation-financial-budgets.png
  test-results/validation-homepage.png
  test-results/validation-login-attempt.png
  test-results/validation-login.png
Owners: @performance-specialist, @team-lead, @backend-lead, @game-feature-owner, @senior-developer, @frontend-lead, @design-system-owner, @mobile-specialist

Implement comprehensive expense reimbursement testing strategy
  EXPENSE_REIMBURSEMENT_TESTING_STRATEGY.md
  EXPENSE_REIMBURSEMENT_TESTING_SUMMARY.md
  __tests__/receipt-viewer-modal-reimbursement.test.tsx
  backend/migrations/050_create_expense_reimbursements.js
  backend/src/app.js
  backend/src/routes/expenses.js
  backend/src/routes/users.js
  backend/tests/database/expense-reimbursement-integrity.test.js
  backend/tests/integration/expense-reimbursement-workflow.test.js
  backend/tests/performance/expense-reimbursement-performance.test.js
  backend/tests/routes/expense-reimbursements.test.js
  backend/tests/security/expense-reimbursement-security.test.js
  components/receipt-upload.tsx
  components/receipt-viewer-modal.tsx
  tests/frontend/expense-reimbursement-e2e.spec.js
Owners: @team-lead, @senior-developer, @qa-lead, @database-admin, @backend-lead, @performance-specialist, @frontend-lead

Implement comprehensive backend performance optimizations
  backend/src/app.js
  backend/src/routes/company-credit-cards.js
  backend/src/routes/expenses.js
  backend/src/routes/purchase-orders.js
  components/admin-dashboard.tsx
  components/announcement-board.tsx
  components/dashboard-overview.tsx
  playwright-report/index.html
  test-results/auth-demo-login-attempt.png
  test-results/auth-login-form.png
  test-results/auth-protected-budget.png
  test-results/budget-page.png
  test-results/games-page.png
  test-results/homepage.png
  test-results/login-page.png
  test-results/mobile-budget.png
  test-results/tablet-login.png
  test-results/validation-budget.png
  test-results/validation-complete-signup.png
  test-results/validation-financial-budgets.png
  test-results/validation-homepage.png
  test-results/validation-login-attempt.png
Owners: @team-lead, @senior-developer, @backend-lead, @frontend-lead, @dashboard-owner, @mobile-specialist

Phase 3 Final Integration: Complete Sports Management Platform
  FINAL_INTEGRATION_REPORT.md
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/routes/expenses.js
  backend/src/services/approvalWorkflowService.js
  backend/src/services/paymentMethodService.js
  components/credit-card-selector.tsx
  components/expense-form.tsx
  components/payment-method-selector.tsx
  components/purchase-order-selector.tsx
  playwright-report/index.html
  test-results/auth-demo-login-attempt.png
  test-results/auth-login-form.png
  test-results/budget-page.png
  test-results/homepage.png
  test-results/login-page.png
  test-results/mobile-budget.png
  test-results/mobile-login.png
  test-results/tablet-login.png
  test-results/validation-budget.png
  test-results/validation-financial-budgets.png
  test-results/validation-login-attempt.png
Owners: @team-lead, @senior-developer, @backend-lead, @frontend-lead, @mobile-specialist

Create enhanced expense management UI components with comprehensive payment method support
  components/credit-card-selector.tsx
  components/expense-form.tsx
  components/expense-list-enhanced.tsx
  components/purchase-order-selector.tsx
  lib/api.ts
Owners: @frontend-lead

Implement comprehensive expense management system with payment methods and approval workflows
  backend/src/utils/README.md
Owners: @team-lead

Add comprehensive unit tests for response formatters utility
  backend/tests/utils/response-formatters.test.js
Owners: @qa-lead, @backend-lead

Integrate enhanced expense management into existing SPA architecture
  PACKAGE_2A_COMPLETION_SUMMARY.md
  app/debug/page.tsx
  app/expense-approvals/page.tsx
  app/expenses/page.tsx
  backend/src/middleware/performanceMonitor.js
  backend/src/routes/assignments.js
  backend/src/routes/games.js
  backend/src/routes/leagues.js
  backend/src/routes/referees.js
  backend/src/routes/teams.js
  backend/src/utils/query-cache.js
  backend/test-assignment-endpoints.js
  components/admin-dashboard.tsx
  components/app-sidebar.tsx
  components/protected-route.tsx
  components/referee-dashboard.tsx
  debug-frontend.js
Owners: @team-lead, @senior-developer, @frontend-lead, @performance-specialist, @backend-lead, @assignment-feature-owner, @game-feature-owner, @referee-feature-owner, @dashboard-owner

Fix expense management integration and API client method calls
  components/admin-dashboard.tsx
  components/expense-approval-dashboard.tsx
  components/expense-form-integrated.tsx
  components/referee-dashboard.tsx
Owners: @frontend-lead, @dashboard-owner

Package 2A: Remove duplicate code from assignments.js and consolidate with service layer
  backend/QUERY_OPTIMIZATION_REPORT.md
  backend/tests/unit/query-optimization.test.js
  playwright-report/data/00af4b8bbb67b417b7fa0bbee52773ee1ad236cb.png
  playwright-report/data/0566df60d975e6bd0a002f4d83a360b1b0845ac4.png
  playwright-report/data/94c7fc02582b34f01f0d3969de5bb50846ab5230.png
  playwright-report/data/9f4b0509a220a36608125b14a81c3242fe0387f5.png
  playwright-report/data/bdc31ed1ce5d62b57d2feb2b682aa3de3821b66d.png
  playwright-report/data/c8e50ce3c1a8c510a2ac8b62f6fb4da437557f07.md
  playwright-report/data/e1817ef3c780ec3b4d3192625db879d42b9a0be6.png
  playwright-report/index.html
  test-results/.last-run.json
  test-results/auth-demo-login-attempt.png
  test-results/auth-login-route.png
  test-results/auth-protected-budget.png
  test-results/auth-validation-Authentica-0ac98-ads-without-critical-errors-chromium/error-context.md
  test-results/auth-validation-Authentica-0ac98-ads-without-critical-errors-chromium/test-failed-1.png
  test-results/auth-validation-Authentica-1a95a-enders-with-proper-elements-chromium/error-context.md
  test-results/auth-validation-Authentica-1a95a-enders-with-proper-elements-chromium/test-failed-1.png
  test-results/auth-validation-Authentica-42613-utes-handles-authentication-chromium/error-context.md
  test-results/auth-validation-Authentica-42613-utes-handles-authentication-chromium/test-failed-1.png
  test-results/auth-validation-Authentica-d6aac-ogin-route-exists-and-loads-chromium/error-context.md
  test-results/auth-validation-Authentica-d6aac-ogin-route-exists-and-loads-chromium/test-failed-1.png
  test-results/games-page.png
  test-results/health-check-Frontend-Heal-b7a2d-oads-without-console-errors-chromium/error-context.md
  test-results/health-check-Frontend-Heal-b7a2d-oads-without-console-errors-chromium/test-failed-1.png
  test-results/login-page.png
  test-results/mobile-homepage.png
  test-results/mobile-login.png
  test-results/tablet-login.png
  test-results/validation-budget.png
  test-results/validation-complete-signup.png
  test-results/validation-financial-budgets.png
  test-results/validation-homepage.png
  test-results/validation-login-attempt.png
  test-results/validation-login.png
Owners: @team-lead, @senior-developer, @performance-specialist, @frontend-lead, @mobile-specialist

Implement Package 2D: Database Query Optimization
  backend/test-assignment-endpoints.js
Owners: @team-lead, @senior-developer

Implement Package 3B: Enhanced Error Handling System
  backend/PACKAGE_3B_IMPLEMENTATION_SUMMARY.md
  backend/src/middleware/enhanced-error-handling.js
  backend/src/middleware/validation.js
  backend/src/routes/assignments.js
  backend/src/routes/games.js
  backend/src/routes/referees.js
  backend/src/routes/users.js
  backend/src/utils/errors.js
Owners: @team-lead, @senior-developer, @backend-lead, @security-lead, @assignment-feature-owner, @game-feature-owner, @referee-feature-owner

Complete Package 3A: API Documentation - Comprehensive documentation suite
  backend/docs/API.md
  backend/docs/DOCUMENTATION_SUMMARY.md
  backend/docs/README.md
  backend/docs/api-spec.yaml
  backend/docs/api/index.html
  backend/docs/postman-collection.json
Owners: @team-lead, @senior-developer

Complete Package 2C: Full AssignmentService integration for assignments.js
  backend/src/routes/assignments.js
  backend/src/utils/validation-schemas.js
  components/admin-dashboard.tsx
  components/app-sidebar.tsx
  components/expense-list-enhanced.tsx
  components/referee-dashboard.tsx
Owners: @backend-lead, @assignment-feature-owner, @team-lead, @senior-developer, @frontend-lead, @dashboard-owner

Implement Package 3C: Advanced Performance Monitoring System
  backend/PACKAGE_3C_IMPLEMENTATION_SUMMARY.md
  backend/src/app.js
  backend/src/middleware/advanced-performance.js
  backend/src/routes/performance.js
  backend/src/utils/metrics-collector.js
  backend/src/utils/query-performance.js
  backend/test-performance-monitoring.js
Owners: @team-lead, @senior-developer, @performance-specialist

Complete lint error cleanup - fix remaining unused variables
  components/ai-assignments-enterprise.tsx
Owners: @frontend-lead

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Owners: @devops-lead, @team-lead

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Owners: @devops-lead, @team-lead

fix: resolve API authentication and missing database table errors
  backend/migrations/20250805214140_create_communications_system.js
  components/announcement-board.tsx
  lib/api.ts
Owners: @database-admin, @backend-lead, @team-lead, @frontend-lead

fix: resolve CI/CD pipeline dependency and linting issues
  .eslintrc.js
  package.json
Owners: @qa-lead, @team-lead, @devops-lead

fix: update package-lock.json for @testing-library/react@16.3.0
  package-lock.json
Owners: @team-lead, @senior-developer

fix: exclude all tests directory from Jest to prevent Playwright conflicts
  jest.config.js
Owners: @qa-lead

fix: prevent duplicate table creation in approval workflows migration
  backend/migrations/055_enhance_expense_approvals_workflow.js
Owners: @database-admin, @backend-lead, @team-lead

fix: temporarily relax ESLint rules to unblock production pipeline
  .eslintrc.js
Owners: @qa-lead, @team-lead

fix: resolve JSX parsing errors blocking pipeline
  backend/migrations/055_enhance_expense_approvals_workflow.js
  components/game-management-backup.tsx
Owners: @database-admin, @backend-lead, @team-lead, @frontend-lead

fix: resolve database migration conflicts and CONCURRENTLY issues
  backend/migrations/055_enhance_expense_approvals_workflow.js
  backend/migrations/060_performance_indexes.js
  backend/migrations/061_query_optimization.js
  backend/migrations/20250729223837_create_audit_logs_table.js
  backend/migrations/20250803_add_ai_performance_indexes.js
Owners: @database-admin, @backend-lead, @team-lead, @performance-specialist

fix: disable final conflicting performance indexes migration
  backend/migrations/20250731_performance_indexes.js
Owners: @performance-specialist, @team-lead

fix: resolve JSX parsing errors in budget-tracker and game-management-backup
  components/budget-tracker.tsx
  components/game-management-backup.tsx
Owners: @frontend-lead

fix: disable expense performance indexes migration due to column mismatches
  backend/migrations/20250801_expense_performance_indexes.js
Owners: @performance-specialist, @team-lead
