Repository fisherjoey/SportsManager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-developer, @qa-lead, @devops-lead, @database-admin, @backend-lead, @security-lead, @game-feature-owner, @referee-feature-owner, @assignment-feature-owner, @frontend-lead, @design-system-owner, @dashboard-owner, @table-component-owner, @product-owner, @mobile-specialist, @performance-specialist, @integration-specialist

.github/CODEOWNERS:

# Code Owners for Sports Management App
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-lead @senior-developer

# QA and Testing Infrastructure
QA-QC-PLAN.md @qa-lead @team-lead
docs/TESTING-STANDARDS.md @qa-lead @team-lead
AGENT-GUIDELINES.md @qa-lead @team-lead
jest.config.js @qa-lead
.github/workflows/ @devops-lead @team-lead

# Database and Backend Architecture
backend/migrations/ @database-admin @backend-lead @team-lead
backend/seeds/ @database-admin @backend-lead
backend/src/config/ @backend-lead @team-lead
backend/src/middleware/ @backend-lead @security-lead
backend/knexfile.js @database-admin @backend-lead
database-schema.sql @database-admin @backend-lead

# Backend API Routes
backend/src/routes/ @backend-lead
backend/src/routes/auth.js @backend-lead @security-lead
backend/src/routes/games.js @backend-lead @game-feature-owner
backend/src/routes/referees.js @backend-lead @referee-feature-owner
backend/src/routes/assignments.js @backend-lead @assignment-feature-owner

# Frontend Architecture
app/ @frontend-lead
components/ @frontend-lead
components/ui/ @frontend-lead @design-system-owner
lib/ @frontend-lead
hooks/ @frontend-lead

# Core Business Logic Components
components/game-management.tsx @frontend-lead @game-feature-owner
components/referee-management.tsx @frontend-lead @referee-feature-owner
components/admin-dashboard.tsx @frontend-lead @dashboard-owner
components/data-table/ @frontend-lead @table-component-owner

# Authentication and Security
backend/src/middleware/auth.js @security-lead @backend-lead
components/auth-provider.tsx @security-lead @frontend-lead
components/login-form.tsx @security-lead @frontend-lead

# Configuration Files
package.json @team-lead @devops-lead
backend/package.json @team-lead @backend-lead
next.config.mjs @frontend-lead @devops-lead
tailwind.config.ts @frontend-lead @design-system-owner
tsconfig.json @frontend-lead @team-lead

# CI/CD and DevOps
.github/ @devops-lead @team-lead
.eslintrc.js @qa-lead @team-lead
backend/.eslintrc.js @qa-lead @backend-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
README.md @team-lead
backend/README.md @backend-lead @team-lead
GITHUB-INTEGRATION-GUIDE.md @devops-lead @team-lead
CLAUDE.md @team-lead @product-owner

# Sensitive Configuration (require extra scrutiny)
.env* @security-lead @devops-lead @team-lead
**/secrets* @security-lead @devops-lead
**/*secret* @security-lead @devops-lead

# Testing Files (require QA approval)
**/*.test.* @qa-lead
**/*.spec.* @qa-lead
**/tests/ @qa-lead
__tests__/ @qa-lead
backend/tests/ @qa-lead @backend-lead

# Mobile and Responsive Design
**/*mobile* @frontend-lead @mobile-specialist
**/*responsive* @frontend-lead @mobile-specialist

# Performance Critical Files
**/*performance* @performance-specialist @team-lead
**/*optimization* @performance-specialist
lib/utils.ts @frontend-lead @performance-specialist

# External Integrations
**/integrations/ @integration-specialist @backend-lead
**/webhooks/ @integration-specialist @security-lead

fix: downgrade remaining ESLint style rules from error to warning
  .eslintrc.js
Owners: @qa-lead, @team-lead

fix: disable remaining conflicting performance index migrations
  backend/migrations/20250729204500_add_performance_indexes.js
  backend/migrations/20250803_add_ai_performance_indexes.js
Owners: @performance-specialist, @team-lead

fix: disable communications system migration - table already exists
  backend/migrations/20250805214140_create_communications_system.js
Owners: @database-admin, @backend-lead, @team-lead

feat: implement comprehensive financial management system
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  __tests__/components/budget-tracker-simple.test.tsx
  app/financial-dashboard/page.tsx
  backend/migrations/20250808050529_create_expense_receipts_table.js
  backend/migrations/20250808052552_create_game_fees.js
  backend/seeds/test/001_test_data.js
  backend/src/app.js
  backend/src/middleware/errorHandling.js
  backend/src/routes/budget-tracker.js
  backend/src/routes/financial-dashboard.js
  backend/src/routes/game-fees.js
  backend/src/routes/receipts.js
  backend/tests/routes/budget-tracker-db.test.js
  backend/tests/routes/budget-tracker.test.js
  backend/tests/routes/financial-dashboard-db.test.js
  backend/tests/routes/financial-dashboard-unit.test.js
  backend/tests/routes/financial-dashboard.test.js
  backend/tests/routes/game-fees-db.test.js
  backend/tests/routes/receipts-db.test.js
  backend/tests/routes/receipts.test.js
  backend/uploads/receipts/receipt-1754629159309-67715068.jpg
  backend/uploads/receipts/receipt-1754629162730-464773611.jpg
  backend/uploads/receipts/receipt-1754630491089-593057746.jpg
  backend/uploads/receipts/receipt-1754630494574-987926979.jpg
  backend/uploads/receipts/receipt-1754630590681-414032203.jpg
  backend/uploads/receipts/receipt-1754630594098-732451262.jpg
  backend/uploads/receipts/receipt-1754630613998-516102552.jpg
  backend/uploads/receipts/receipt-1754630617432-417012873.jpg
  backend/uploads/receipts/receipt-1754630637367-772545080.jpg
  backend/uploads/receipts/receipt-1754630640770-812012619.jpg
  backend/uploads/receipts/receipt-1754631373118-867264071.jpg
  backend/uploads/receipts/receipt-1754631376517-327186720.jpg
  components/budget-tracker-simple.tsx
  components/financial-dashboard.tsx
Owners: @team-lead, @senior-developer, @qa-lead, @frontend-lead, @database-admin, @backend-lead, @security-lead

fix: remove file with invalid Windows filename
  backend/tests/integration/invitations-integration.test.
Owners: @qa-lead, @backend-lead

feat: initialize resource centre with Docusaurus integration
  content/docusaurus.config.js
  content/resources/incident-reports.md
  content/resources/rules-modifications.md
  content/sidebars.js
  package-lock.json
  package.json
Owners: @team-lead, @senior-developer, @devops-lead

feat: implement comprehensive resource centre with markdown content
  app/resources/[...slug]/page.tsx
  app/resources/[slug]/page.tsx
  app/resources/layout.tsx
  app/resources/page.tsx
  components/resource-centre.tsx
  content/resources/general-meetings.md
  content/resources/meeting-minutes-january.md
  content/resources/member-services.md
  content/resources/performance-assessment.md
  content/resources/performance-evaluation.md
  content/resources/referee-development.md
  lib/resources.ts
Owners: @frontend-lead, @team-lead, @senior-developer, @performance-specialist

feat: implement soft blue-white theme for improved readability
  app/globals.css
  app/theme-demo/page.tsx
Owners: @frontend-lead

fix: resolve backend test database initialization issues
  backend/.env.test
  backend/scripts/check-tables.js
  backend/scripts/check-test-db.js
  backend/scripts/fix-test-database.js
  backend/scripts/setup-test-db-windows.js
  backend/scripts/setup-test-db.js
  backend/tests/setup.js
Owners: @security-lead, @devops-lead, @team-lead, @senior-developer, @qa-lead, @backend-lead

docs: add test fixing documentation and helper files
  MIGRATION_FIX_PLAN.md
  TEST_FIXING_PLAN.md
  TEST_STATUS_REPORT.md
  backend/test-results.json
  backend/tests/setup-fixed.js
  backend/tests/setup-original.js
Owners: @team-lead, @senior-developer, @qa-lead, @backend-lead

test: add theme comparison screenshots and test script
  test-theme-demo.js
  theme-comparison-selected.png
  theme-comparison.png
Owners: @team-lead, @senior-developer

feat: add Storybook configuration for component development
  .storybook/main.ts
  .storybook/preview.ts
  stories/Button.stories.ts
  stories/Button.tsx
  stories/Configure.mdx
  stories/Header.stories.ts
  stories/Header.tsx
  stories/Page.stories.ts
  stories/Page.tsx
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/avif-test-image.avif
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/button.css
  stories/header.css
  stories/page.css
Owners: @team-lead, @senior-developer

chore: add backend utility and diagnostic scripts
  backend/create-demo-tables.js
  backend/routes_list.txt
  backend/setup-db-user.js
  backend/setup-fresh-db.js
  backend/test-postgres-install.js
  backend/test-postgres-passwords.js
  backend/tests_list.txt
Owners: @team-lead, @senior-developer

fix: Update auth tests to match actual API response structure
  backend/tests/routes/auth.test.js
Owners: @qa-lead, @backend-lead

feat: implement comprehensive test infrastructure fixes and documentation
  AI_CONTINUATION_PROMPT.md
  HANDOVER_DOCUMENT.md
  TEST_STATISTICS.md
  TINYMCE_IMPLEMENTATION_PLAN.md
  backend/migrations/20250829_fix_critical_issues.js
  backend/scripts/fix-test-database.js
  components/app-sidebar.tsx
  components/data-table/RefereeMobileCard.tsx
  components/profile-settings.tsx
  components/referee-management.tsx
Owners: @team-lead, @senior-developer, @database-admin, @backend-lead, @frontend-lead, @table-component-owner, @referee-feature-owner

fix: Complete auth test fixes and add missing database columns
  API_RESPONSE_DOCUMENTATION.md
  backend/scripts/add-missing-columns.js
  backend/tests/routes/auth.test.js
Owners: @team-lead, @senior-developer, @qa-lead, @backend-lead

docs: Add test infrastructure progress report
  TEST_PROGRESS_REPORT.md
Owners: @team-lead, @senior-developer

fix: Mock Redis and fix PostgreSQL connections for tests
  backend/src/config/queue.js
  backend/src/routes/expenses.js
  backend/src/routes/workflows.js
  backend/src/services/queueProcessor.js
Owners: @backend-lead, @team-lead, @senior-developer

fix: Fix league tests and add missing database columns
  backend/scripts/add-leagues-columns.js
  backend/src/routes/workflows.js
  backend/tests/routes/leagues.test.js
Owners: @team-lead, @senior-developer, @backend-lead, @qa-lead

docs: Add comprehensive test infrastructure recovery report
  TEST_INFRASTRUCTURE_FINAL_REPORT.md
Owners: @team-lead, @senior-developer

fix: Apply auth test pattern to games and teams tests
  TEST_RECOVERY_ACTION_PLAN.md
  backend/tests/routes/games.test.js
  backend/tests/routes/teams.test.js
Owners: @team-lead, @senior-developer, @qa-lead, @backend-lead

fix: Apply auth test pattern to referees and assignments tests
  backend/tests/routes/assignments.test.js
  backend/tests/routes/referees.test.js
Owners: @qa-lead, @backend-lead

docs: Add Day 1 final summary - 29% test recovery achieved
  DAY_1_FINAL_SUMMARY.md
Owners: @team-lead, @senior-developer

refactor: Pivot to practical testing and monitoring strategy
  .github/workflows/critical-tests.yml
  MONITORING_SETUP.md
  __tests__/resource-centre.test.js
Owners: @devops-lead, @team-lead, @senior-developer, @qa-lead

feat: Implement comprehensive resource management with soft delete and auto-save drafts
  app/api/content/attachments/route.ts
  app/api/content/items/[id]/route.ts
  app/api/content/items/[id]/versions/route.ts
  app/api/content/items/route.ts
  app/api/content/items/slug/[slug]/route.ts
  app/api/content/media/[id]/route.ts
  app/api/content/search/route.ts
  app/api/content/upload/route.ts
  backend/src/routes/content.js
  components/admin-dashboard.tsx
  components/resource-admin.tsx
  components/resource-centre.tsx
  components/resource-centre/ResourceEditor.tsx
Owners: @frontend-lead, @backend-lead, @dashboard-owner

feat: Implement RBAC Phase 1 - Database foundation
  backend/migrations/20250829_create_rbac_system.js
  backend/migrations/20250829_migrate_users_to_rbac.js
  backend/seeds/016_rbac_system_seed.js
Owners: @database-admin, @backend-lead, @team-lead

feat: Implement RBAC Phase 2 - Backend API layer
  backend/migrations/RBAC_IMPLEMENTATION_SUMMARY.md
  backend/src/app.js
  backend/src/middleware/auth.js
  backend/src/routes/admin/permissions.js
  backend/src/routes/admin/roles.js
  backend/src/routes/auth.js
  backend/src/services/PermissionService.js
  backend/src/services/RoleService.js
  backend/tests/middleware/auth-rbac.test.js
  backend/tests/services/PermissionService.test.js
  backend/tests/services/RoleService.test.js
Owners: @database-admin, @backend-lead, @team-lead, @senior-developer, @security-lead, @qa-lead

feat: Implement RBAC Phase 3-4 - Frontend role management UI
  components/admin-dashboard.tsx
  components/admin/rbac/PermissionMatrix.tsx
  components/admin/rbac/PermissionSelector.tsx
  components/admin/rbac/RoleCard.tsx
  components/admin/rbac/RoleEditor.tsx
  components/admin/rbac/RoleManagementDashboard.tsx
  components/admin/rbac/UserRoleManager.tsx
Owners: @frontend-lead, @dashboard-owner

refactor: Remove redundant Posts and Manage Resources pages
  .claude/settings.local.json
  components/admin-dashboard.tsx
  components/app-sidebar.tsx
  components/auth-provider.tsx
  components/auth/RequireAllPermissions.tsx
  components/auth/RequireAnyPermission.tsx
  components/auth/RequirePermission.tsx
  components/posts-management.tsx
  components/resource-admin.tsx
  hooks/usePermissions.ts
  lib/api.ts
  lib/permissions.ts
  lib/types.ts
Owners: @team-lead, @senior-developer, @frontend-lead, @dashboard-owner, @security-lead

feat: Implement RBAC Phase 5 - Frontend permission integration
  backend/src/routes/admin/permissions.js
  backend/src/services/PermissionService.js
  backend/src/services/RoleService.js
Owners: @backend-lead, @team-lead, @senior-developer

refactor: Reorganize sidebar menu structure for better role separation
  backend/src/routes/assignments.js
  backend/src/routes/games.js
  backend/src/routes/referees.js
  backend/src/routes/users.js
  components/app-sidebar.tsx
Owners: @backend-lead, @assignment-feature-owner, @game-feature-owner, @referee-feature-owner, @frontend-lead

feat: Implement RBAC Phase 6 - Apply permissions to API routes
  .claude/settings.local.json
  backend/RBAC_PHASE_6_PERMISSIONS_MAPPING.md
  backend/src/routes/admin/permissions.js
  backend/src/routes/admin/roles.js
  backend/src/routes/assignments.js
  backend/src/routes/budgets.js
  backend/src/routes/expenses.js
  backend/src/routes/financial-approvals.js
  backend/src/routes/financial-dashboard.js
  backend/src/routes/financial-transactions.js
  backend/src/routes/invitations.js
  backend/src/routes/leagues.js
  backend/src/routes/locations.js
  backend/src/routes/teams.js
Owners: @team-lead, @senior-developer, @backend-lead, @assignment-feature-owner

fix: Fix calendar dark mode visibility issues
  backend/tests/services/PermissionService.comprehensive.test.js
  backend/tests/services/RoleService.comprehensive.test.js
  components/calendar-view.tsx
Owners: @qa-lead, @backend-lead, @frontend-lead

fix: Remove all hardcoded colors for proper dark mode support
  __tests__/components/auth/RequireAnyPermission.test.tsx
  __tests__/components/auth/RequirePermission.test.tsx
  __tests__/hooks/usePermissions.test.ts
  backend/tests/integration/rbac-auth-flow.test.js
  backend/tests/integration/rbac-migration-verification.test.js
  backend/tests/performance/rbac-performance.test.js
  components/calendar-view.tsx
  components/resource-centre.tsx
  components/resource-centre/ResourceEditor.tsx
  components/resource-centre/ResourceManager.tsx
Owners: @qa-lead, @backend-lead, @performance-specialist, @team-lead, @frontend-lead

feat: Implement RBAC Phase 7 - Comprehensive testing and migration verification
  docs/testing/RBAC_TESTING_DOCUMENTATION.md
  docs/testing/RBAC_TEST_RESULTS_SUMMARY.md
Owners: @team-lead, @senior-developer

fix: Display user's first name instead of email in sidebar
  .claude/settings.local.json
  backend/assign-admin-role.js
  backend/src/services/PermissionService.js
  components/app-sidebar.tsx
Owners: @team-lead, @senior-developer, @frontend-lead

feat: Add comprehensive games seed data
  backend/seeds/020_comprehensive_games_season.js
  backend/seeds/021_simple_games_seed.js
  backend/src/app.js
  backend/src/middleware/auth.js
  backend/src/routes/admin/roles.js
  backend/src/routes/admin/test-roles.js
  components/admin/rbac/PermissionMatrix.tsx
  components/admin/rbac/RoleEditor.tsx
  components/admin/rbac/RoleManagementDashboard.tsx
Owners: @database-admin, @backend-lead, @team-lead, @senior-developer, @security-lead, @frontend-lead

fix: Fix API authentication token not being sent
  backend/src/services/RoleService.js
  components/ai-assignments-simple.tsx
  components/dashboard-overview.tsx
  lib/api.ts
Owners: @team-lead, @senior-developer, @frontend-lead

feat: Implement comprehensive Resource Centre with file management
  app/resources/page.tsx
  backend/migrations/20250830_create_resource_centre_tables.js
  backend/seeds/022_resource_centre_seed.js
  backend/src/app.js
  backend/src/routes/resources.js
  components/admin-dashboard.tsx
  components/resource-centre-new.tsx
Owners: @frontend-lead, @database-admin, @backend-lead, @team-lead, @senior-developer, @dashboard-owner

fix: Fix auth context import in Resource Centre component
  components/resource-centre-new.tsx
Owners: @frontend-lead
