Repository fisherjoey/SportsManager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-developer, @qa-lead, @devops-lead, @database-admin, @backend-lead, @security-lead, @game-feature-owner, @referee-feature-owner, @assignment-feature-owner, @frontend-lead, @design-system-owner, @dashboard-owner, @table-component-owner, @product-owner, @mobile-specialist, @performance-specialist, @integration-specialist

.github/CODEOWNERS:

# Code Owners for Sports Management App
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-lead @senior-developer

# QA and Testing Infrastructure
QA-QC-PLAN.md @qa-lead @team-lead
docs/TESTING-STANDARDS.md @qa-lead @team-lead
AGENT-GUIDELINES.md @qa-lead @team-lead
jest.config.js @qa-lead
.github/workflows/ @devops-lead @team-lead

# Database and Backend Architecture
backend/migrations/ @database-admin @backend-lead @team-lead
backend/seeds/ @database-admin @backend-lead
backend/src/config/ @backend-lead @team-lead
backend/src/middleware/ @backend-lead @security-lead
backend/knexfile.js @database-admin @backend-lead
database-schema.sql @database-admin @backend-lead

# Backend API Routes
backend/src/routes/ @backend-lead
backend/src/routes/auth.js @backend-lead @security-lead
backend/src/routes/games.js @backend-lead @game-feature-owner
backend/src/routes/referees.js @backend-lead @referee-feature-owner
backend/src/routes/assignments.js @backend-lead @assignment-feature-owner

# Frontend Architecture
app/ @frontend-lead
components/ @frontend-lead
components/ui/ @frontend-lead @design-system-owner
lib/ @frontend-lead
hooks/ @frontend-lead

# Core Business Logic Components
components/game-management.tsx @frontend-lead @game-feature-owner
components/referee-management.tsx @frontend-lead @referee-feature-owner
components/admin-dashboard.tsx @frontend-lead @dashboard-owner
components/data-table/ @frontend-lead @table-component-owner

# Authentication and Security
backend/src/middleware/auth.js @security-lead @backend-lead
components/auth-provider.tsx @security-lead @frontend-lead
components/login-form.tsx @security-lead @frontend-lead

# Configuration Files
package.json @team-lead @devops-lead
backend/package.json @team-lead @backend-lead
next.config.mjs @frontend-lead @devops-lead
tailwind.config.ts @frontend-lead @design-system-owner
tsconfig.json @frontend-lead @team-lead

# CI/CD and DevOps
.github/ @devops-lead @team-lead
.eslintrc.js @qa-lead @team-lead
backend/.eslintrc.js @qa-lead @backend-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
README.md @team-lead
backend/README.md @backend-lead @team-lead
GITHUB-INTEGRATION-GUIDE.md @devops-lead @team-lead
CLAUDE.md @team-lead @product-owner

# Sensitive Configuration (require extra scrutiny)
.env* @security-lead @devops-lead @team-lead
**/secrets* @security-lead @devops-lead
**/*secret* @security-lead @devops-lead

# Testing Files (require QA approval)
**/*.test.* @qa-lead
**/*.spec.* @qa-lead
**/tests/ @qa-lead
__tests__/ @qa-lead
backend/tests/ @qa-lead @backend-lead

# Mobile and Responsive Design
**/*mobile* @frontend-lead @mobile-specialist
**/*responsive* @frontend-lead @mobile-specialist

# Performance Critical Files
**/*performance* @performance-specialist @team-lead
**/*optimization* @performance-specialist
lib/utils.ts @frontend-lead @performance-specialist

# External Integrations
**/integrations/ @integration-specialist @backend-lead
**/webhooks/ @integration-specialist @security-lead

fix: Update dev script to use cross-env for Windows compatibility
  backend/package.json
Owners: @team-lead, @backend-lead

fix: Update games route to use correct date_time column
  backend/src/routes/games.js
Owners: @backend-lead, @game-feature-owner

fix: Integrate ResourceEditor with TinyMCE into Resource Centre
  backend/src/routes/resources.js
  components/resource-centre-new.tsx
Owners: @backend-lead, @frontend-lead

fix: Fix Resource Centre Add Resource button API connection
  components/resource-centre-new.tsx
  components/resource-centre/ResourceEditor.tsx
Owners: @frontend-lead

feat: Enhance security middleware with development CORS and increased limits
  backend/src/middleware/sanitization.js
  backend/src/middleware/security.js
Owners: @backend-lead, @security-lead

feat: Enhance RBAC system with improved permission and role management
  backend/src/services/PermissionService.js
  backend/src/services/RoleService.js
  components/admin/rbac/PermissionMatrix.tsx
  components/admin/rbac/PermissionSelector.tsx
  components/admin/rbac/RoleCard.tsx
  components/admin/rbac/RoleEditor.tsx
  components/admin/rbac/RoleManagementDashboard.tsx
  components/admin/rbac/UserRoleManager.tsx
Owners: @team-lead, @senior-developer, @frontend-lead

refactor: Improve API routes and client with better error handling
  backend/src/routes/games.js
  backend/src/routes/resources.js
  backend/src/utils/query-builders.js
  backend/src/utils/validation-schemas.js
  lib/api.ts
Owners: @backend-lead, @game-feature-owner, @team-lead, @senior-developer, @frontend-lead

feat: Enhance Resource Centre with improved editor and functionality
  components/resource-centre-new.tsx
  components/resource-centre/ResourceEditor.tsx
Owners: @frontend-lead

feat: Enhance frontend components with improved navigation and UI
  components/admin-dashboard.tsx
  components/app-sidebar.tsx
  components/assign-chunk-dialog.tsx
  components/game-management.tsx
  components/games-management-page.tsx
  components/ui/filterable-table.tsx
  components/ui/game-filters.tsx
  components/ui/sidebar.tsx
Owners: @frontend-lead, @dashboard-owner, @game-feature-owner, @design-system-owner

chore: Update dependencies for TinyMCE and cross-env
  package-lock.json
  package.json
Owners: @team-lead, @senior-developer, @devops-lead

chore: Update Claude Code local settings
  .claude/settings.local.json
Owners: @team-lead, @senior-developer

feat: Complete user management page implementation
  backend/migrations/20250831000001_create_resource_category_permissions.js
  backend/migrations/20250831000002_create_resource_permissions.js
  backend/migrations/20250831000003_create_resource_audit_log.js
  backend/migrations/20250831000004_create_resource_versions.js
  backend/migrations/20250831000005_create_resource_category_managers.js
  backend/migrations/20250831000006_add_resource_rbac_fields.js
  backend/migrations/20250831000007_insert_resource_permissions.js
  backend/src/routes/users.js
  components/admin/users/UserDetailsModal.tsx
  components/admin/users/UserFilters.tsx
  components/admin/users/UserForm.tsx
  components/admin/users/UserTable.tsx
  lib/api.ts
Owners: @database-admin, @backend-lead, @team-lead, @frontend-lead

feat: Implement comprehensive resource RBAC system with permissions, audit, and versioning
  backend/src/middleware/resourcePermissions.js
  backend/src/routes/resources.js
  backend/src/services/ResourceAuditService.js
  backend/src/services/ResourcePermissionService.js
  backend/src/services/ResourceVersionService.js
Owners: @backend-lead, @security-lead, @team-lead, @senior-developer

feat: Add global audit logging middleware and cleanup system
  backend/src/app.js
  backend/src/jobs/auditLogCleanup.js
  backend/src/middleware/auditLogger.js
  backend/src/middleware/auditLogger.test.js
  backend/src/routes/admin/maintenance.js
Owners: @team-lead, @senior-developer, @backend-lead, @security-lead, @qa-lead

feat: Add comprehensive resource permission management components
  components/resource-centre/ResourceEditor.tsx
  components/resources/CategoryPermissionManager.tsx
  components/resources/PermissionMatrix.tsx
  components/resources/ResourceAccessIndicator.tsx
  components/resources/ResourcePermissionEditor.tsx
  components/resources/index.ts
  lib/types/index.ts
  lib/types/resources.ts
Owners: @frontend-lead

feat: Add comprehensive category management dashboard
  app/resources/categories/[id]/manage/page.tsx
  components/resources/CategoryInsights.tsx
  components/resources/CategoryManagerDashboard.tsx
  components/resources/CategoryManagerList.tsx
  components/resources/index.ts
Owners: @frontend-lead

feat: Complete Permission Matrix page implementation
  components/admin-dashboard.tsx
  components/admin/rbac/PermissionManagementDashboard.tsx
  components/resource-centre/ResourceEditor.tsx
Owners: @frontend-lead, @dashboard-owner

feat: Add comprehensive audit log viewer system
  app/admin/audit-logs/page.tsx
  components/resources/AuditLogEntry.tsx
  components/resources/AuditLogFilters.tsx
  components/resources/AuditLogStats.tsx
  components/resources/AuditLogViewer.tsx
  lib/types/audit.ts
Owners: @frontend-lead

feat: Implement comprehensive Role-Based Access Control (RBAC) system
  .claude/settings.local.json
  backend/src/middleware/enhanced-error-handling.js
  backend/src/middleware/errorHandling.js
  backend/src/middleware/permissionCheck.js
  backend/src/routes/users.js
  backend/src/services/BaseService.js
  backend/uploads/receipts/receipt-1756620597072-3477543.jpg
  backend/uploads/receipts/receipt-1756620598537-698295798.jpg
  components/admin-dashboard.tsx
  components/admin/rbac/UserRoleManager.tsx
  components/app-sidebar.tsx
  components/auth/ProtectedRoute.tsx
  components/referee-management.tsx
  lib/api.ts
  lib/rbac-config.ts
Owners: @team-lead, @senior-developer, @backend-lead, @security-lead, @frontend-lead, @dashboard-owner, @referee-feature-owner

feat: Add comprehensive Permission Configuration Dashboard
  .claude/settings.local.json
  backend/src/routes/admin/roles.js
  backend/src/services/RoleService.js
  backend/src/services/__tests__/ResourcePermissionService.test.js
  backend/test-db-structure.js
  components/admin-dashboard.tsx
  components/admin/rbac/PermissionConfigurationDashboard.tsx
  components/app-sidebar.tsx
  components/assignor-dashboard.tsx
  lib/permission-registry.ts
  lib/rbac-config.ts
  package.json
  scripts/validate-permissions.js
Owners: @team-lead, @senior-developer, @backend-lead, @qa-lead, @frontend-lead, @dashboard-owner, @devops-lead

fix: Handle user_roles query errors gracefully
  backend/src/services/RoleService.js
Owners: @team-lead, @senior-developer

feat: Create unified access control management system
  app/admin-access-control/page.tsx
  components/admin-dashboard.tsx
  components/admin/access-control/UnifiedAccessControlDashboard.tsx
  components/app-sidebar.tsx
Owners: @frontend-lead, @dashboard-owner

refactor: Organize test files into structured directories
  tests/api/test-admin-access.js
  tests/api/test-api-limits.js
  tests/api/test-page-access.js
  tests/api/test-rbac-api.js
  tests/api/test-roles-structure.js
  tests/api/test-save-pages.js
  tests/api/test-users-endpoint.js
  tests/integration/test-250-games.js
  tests/integration/test-auth-and-resources.js
  tests/integration/test-frontend-games.js
  tests/integration/test-pagination.js
  tests/integration/test-superadmin-access.js
  tests/integration/test-superadmin-quick.js
  tests/integration/test-total-games.js
  tests/integration/test-with-puppeteer.js
  tests/manual/test-api.html
  tests/manual/test-category-creation.html
  tests/manual/test-filters.html
  tests/manual/test-games-api.js
  tests/manual/test-games-database.js
  tests/manual/test-games-display.js
  tests/manual/test-games-full.js
  tests/manual/test-games-logged-in.js
  tests/manual/test-games-no-auth.js
  tests/manual/test-games-simple.js
  tests/manual/test-permissions-app.js
  tests/manual/test-permissions-direct-app.js
  tests/manual/test-permissions-direct.html
  tests/manual/test-permissions-full.js
  tests/manual/test-permissions-simple.js
  tests/manual/test-permissions.js
  tests/manual/test-resource-centre.html
  tests/manual/test-roles-api.html
  tests/manual/test-user-management.html
Owners: @qa-lead

enhance: Improve user management and page access components
  components/admin/rbac/RolePageAccessManager.tsx
  components/admin/users/UserManagementDashboard.tsx
  hooks/usePageAccess.ts
Owners: @frontend-lead

enhance: Backend support for unified access control system
  backend/src/middleware/auth.js
  backend/src/routes/auth.js
  backend/src/services/CacheService.js
  backend/src/services/PermissionService.js
  backend/src/services/RoleAccessService.js
  backend/src/services/RoleService.js
  backend/src/services/UserService.js
  backend/src/services/__tests__/ResourceAuditService.test.js
  backend/src/services/__tests__/ResourceVersionService.test.js
  lib/api.ts
  lib/rbac-config.ts
Owners: @security-lead, @backend-lead, @team-lead, @senior-developer, @qa-lead, @frontend-lead

enhance: Frontend components and dashboard improvements
  app/page.tsx
  components/admin/rbac/PermissionConfigurationDashboard.tsx
  components/admin/rbac/UserRoleManager.tsx
  components/admin/users/UserFormNew.tsx
  components/admin/users/UserTable.tsx
  components/analytics-dashboard.tsx
  components/assignor-dashboard-overview.tsx
  components/auth-provider.tsx
  components/content-manager-dashboard-overview.tsx
  components/content-manager-dashboard.tsx
  components/error-boundary.tsx
  components/finance-manager-dashboard.tsx
  components/league-manager-dashboard-overview.tsx
  components/league-manager-dashboard.tsx
  components/referee-dashboard.tsx
  components/resource-centre.tsx
  components/resources/AuditLogStats.tsx
  components/resources/index.ts
  components/ui/specialized-badges.tsx
  components/ui/stats-grid.tsx
  components/viewer-dashboard-overview.tsx
  components/viewer-dashboard.tsx
Owners: @frontend-lead, @security-lead, @design-system-owner

feat: Complete RBAC system with database migrations and utilities
  backend/check-cboa-user.js
  backend/check-user-pages.js
  backend/compare-users.js
  backend/migrations/20250831185533_remove_legacy_role_column.js
  backend/migrations/20250831_create_rbac_access_tables.js
  backend/migrations/remove-legacy-role.sql
  backend/remove-role-column.js
  backend/restore-admin-role.js
  backend/seeds/04_seed_access_control.js
  backend/seeds/05_assign_user_roles.js
  backend/src/app.js
  backend/src/config/redis.js
  backend/src/middleware/accessControl.js
  backend/src/routes/admin/access.js
  backend/src/routes/admin/permissions-backup.js
  backend/src/routes/admin/roles.js
  backend/src/routes/admin/users.js
  backend/src/routes/permissions.js
  backend/src/routes/users.js
  backend/test-user-roles-api.js
  docs/RESOURCE_RBAC_INTEGRATION.md
  package-lock.json
  package.json
Owners: @team-lead, @senior-developer, @database-admin, @backend-lead, @security-lead, @devops-lead

feat: Add utility scripts and final configuration updates
  .claude/settings.local.json
  app/admin/page-access/page.tsx
  app/admin/permissions/page.tsx
  check-admin-role.js
  check-referee-role.js
  lib/theme-colors.ts
Owners: @team-lead, @senior-developer, @frontend-lead

enhance: Complete auth middleware for unified access control
  backend/src/middleware/auth.js
Owners: @security-lead, @backend-lead

feat: Remove legacy role system - Part 1
  backend/src/middleware/enhanced-error-handling.js
  backend/src/middleware/permissionCheck.js
  backend/src/routes/admin/test-roles.js
  backend/src/routes/availability.js
  backend/src/routes/expenses.js
  backend/src/routes/resources.js
  backend/src/routes/users.js
  components/unified-dashboard.tsx
Owners: @backend-lead, @security-lead, @frontend-lead

feat: Complete removal of legacy role system
  app/page.tsx
  components/auth-provider.tsx
Owners: @frontend-lead, @security-lead

feat: Add enhanced referee system database schema
  backend/migrations/20250831_enhance_rbac_with_referee_system.js
  backend/migrations/20250831_seed_referee_roles.js
Owners: @database-admin, @backend-lead, @team-lead

feat: Implement RefereeService and enhance UserService integration
  backend/src/services/RefereeService.js
  backend/src/services/UserService.js
Owners: @team-lead, @senior-developer

feat: Add comprehensive referee management API endpoints
  backend/src/routes/referees.js
Owners: @backend-lead, @referee-feature-owner

feat: Add enhanced frontend components for referee management
  components/admin/referees/EditableWage.tsx
  components/admin/referees/RefereeTypeManager.tsx
  components/admin/users/UserTable.tsx
Owners: @frontend-lead

fix: Correct toast import path in referee components
  components/admin/referees/EditableWage.tsx
  components/admin/referees/RefereeTypeManager.tsx
Owners: @frontend-lead

fix: Enhance referee management to show ALL referee types properly
  components/admin/users/UserFilters.tsx
  components/admin/users/UserManagementDashboard.tsx
Owners: @frontend-lead

feat: Add comprehensive mentorship API routes and middleware
  backend/src/middleware/mentorshipFileUpload.js
  backend/src/routes/mentee-games.js
  backend/src/routes/mentorships.js
  backend/src/utils/validation-schemas.js
Owners: @backend-lead, @security-lead, @team-lead, @senior-developer

feat: Implement comprehensive mentoring system for referees
  backend/migrations/20250831225010_create_mentoring_system.js
  backend/migrations/20250901000001_seed_mentor_rbac_permissions.js
  backend/src/app.js
  backend/src/services/MentorshipDocumentService.js
  backend/src/services/MentorshipNotesService.js
  backend/src/services/MentorshipService.js
  components/MenteeGamesView.tsx
  components/MenteeSelector.tsx
  components/games-management-page.tsx
  components/mentorship/DocumentManager.tsx
  components/mentorship/MenteeDetailsView.tsx
  components/mentorship/MenteeSelector.tsx
  components/mentorship/MenteesList.tsx
  components/mentorship/MentorDashboard.tsx
  components/mentorship/MentorshipExample.tsx
  components/mentorship/README.md
  components/mentorship/index.ts
  lib/api.ts
  types/mentorship.ts
Owners: @database-admin, @backend-lead, @team-lead, @senior-developer, @frontend-lead

fix: Correct referee API response handling across components
  components/ai-assignments-enterprise.tsx
  components/ai-assignments-simple.tsx
  components/assignor-dashboard-overview.tsx
  components/referee-management.tsx
  lib/api.ts
Owners: @frontend-lead, @referee-feature-owner
