Repository fisherjoey/SportsManager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-developer, @qa-lead, @devops-lead, @database-admin, @backend-lead, @security-lead, @game-feature-owner, @referee-feature-owner, @assignment-feature-owner, @frontend-lead, @design-system-owner, @dashboard-owner, @table-component-owner, @product-owner, @mobile-specialist, @performance-specialist, @integration-specialist

.github/CODEOWNERS:

# Code Owners for Sports Management App
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-lead @senior-developer

# QA and Testing Infrastructure
QA-QC-PLAN.md @qa-lead @team-lead
docs/TESTING-STANDARDS.md @qa-lead @team-lead
AGENT-GUIDELINES.md @qa-lead @team-lead
jest.config.js @qa-lead
.github/workflows/ @devops-lead @team-lead

# Database and Backend Architecture
backend/migrations/ @database-admin @backend-lead @team-lead
backend/seeds/ @database-admin @backend-lead
backend/src/config/ @backend-lead @team-lead
backend/src/middleware/ @backend-lead @security-lead
backend/knexfile.js @database-admin @backend-lead
database-schema.sql @database-admin @backend-lead

# Backend API Routes
backend/src/routes/ @backend-lead
backend/src/routes/auth.js @backend-lead @security-lead
backend/src/routes/games.js @backend-lead @game-feature-owner
backend/src/routes/referees.js @backend-lead @referee-feature-owner
backend/src/routes/assignments.js @backend-lead @assignment-feature-owner

# Frontend Architecture
app/ @frontend-lead
components/ @frontend-lead
components/ui/ @frontend-lead @design-system-owner
lib/ @frontend-lead
hooks/ @frontend-lead

# Core Business Logic Components
components/game-management.tsx @frontend-lead @game-feature-owner
components/referee-management.tsx @frontend-lead @referee-feature-owner
components/admin-dashboard.tsx @frontend-lead @dashboard-owner
components/data-table/ @frontend-lead @table-component-owner

# Authentication and Security
backend/src/middleware/auth.js @security-lead @backend-lead
components/auth-provider.tsx @security-lead @frontend-lead
components/login-form.tsx @security-lead @frontend-lead

# Configuration Files
package.json @team-lead @devops-lead
backend/package.json @team-lead @backend-lead
next.config.mjs @frontend-lead @devops-lead
tailwind.config.ts @frontend-lead @design-system-owner
tsconfig.json @frontend-lead @team-lead

# CI/CD and DevOps
.github/ @devops-lead @team-lead
.eslintrc.js @qa-lead @team-lead
backend/.eslintrc.js @qa-lead @backend-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
README.md @team-lead
backend/README.md @backend-lead @team-lead
GITHUB-INTEGRATION-GUIDE.md @devops-lead @team-lead
CLAUDE.md @team-lead @product-owner

# Sensitive Configuration (require extra scrutiny)
.env* @security-lead @devops-lead @team-lead
**/secrets* @security-lead @devops-lead
**/*secret* @security-lead @devops-lead

# Testing Files (require QA approval)
**/*.test.* @qa-lead
**/*.spec.* @qa-lead
**/tests/ @qa-lead
__tests__/ @qa-lead
backend/tests/ @qa-lead @backend-lead

# Mobile and Responsive Design
**/*mobile* @frontend-lead @mobile-specialist
**/*responsive* @frontend-lead @mobile-specialist

# Performance Critical Files
**/*performance* @performance-specialist @team-lead
**/*optimization* @performance-specialist
lib/utils.ts @frontend-lead @performance-specialist

# External Integrations
**/integrations/ @integration-specialist @backend-lead
**/webhooks/ @integration-specialist @security-lead

feat: Migrate communications module to TypeScript with TDD
  .claude/settings.local.json
Owners: @team-lead, @senior-developer

feat: Migrate conflictDetectionService to TypeScript with TDD approach
  backend/src/routes/assignments.ts
  backend/src/routes/games.ts
  backend/src/services/AssignmentService.ts
  backend/src/services/__tests__/conflictDetectionService.test.ts
  backend/src/services/conflictDetectionService.bridge.js
  backend/src/services/conflictDetectionService.js.backup
  backend/src/services/conflictDetectionService.ts
Owners: @backend-lead, @team-lead, @senior-developer, @qa-lead

feat: Migrate conflictDetectionService to TypeScript with TDD
  .claude/settings.local.json
Owners: @team-lead, @senior-developer

feat: Migrate EncryptionService to TypeScript with comprehensive security features
  backend/src/services/EncryptionService.js
  backend/src/services/EncryptionService.ts
  backend/src/services/__tests__/EncryptionService.test.ts
  backend/src/services/types/encryption.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate ApprovalWorkflowService to TypeScript with comprehensive workflow management
  backend/src/services/ApprovalWorkflowService.ts
  backend/src/services/__tests__/ApprovalWorkflowService.test.ts
  backend/src/services/approvalWorkflowService.js
  backend/src/services/types/approvalWorkflow.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate expenses route to TypeScript with comprehensive financial management
  backend/src/routes/__tests__/expenses-simple.test.ts
  backend/src/routes/__tests__/expenses.test.ts
  backend/src/routes/expenses.bridge.js
  backend/src/routes/expenses.ts
  backend/src/types/expenses.types.ts
Owners: @qa-lead, @backend-lead, @team-lead, @senior-developer

feat: Migrate budgets route to TypeScript with comprehensive financial management
  backend/src/routes/__tests__/budgets.test.ts
  backend/src/routes/budgets.bridge.js
  backend/src/routes/budgets.js
  backend/src/routes/budgets.ts
  backend/src/types/budget.types.ts
Owners: @qa-lead, @backend-lead, @team-lead, @senior-developer

feat: Migrate documents route to TypeScript with comprehensive document management
  backend/src/routes/__tests__/documents.test.ts
  backend/src/routes/documents.bridge.js
  backend/src/routes/documents.js
  backend/src/routes/documents.ts
  backend/src/types/document.types.ts
Owners: @qa-lead, @backend-lead, @team-lead, @senior-developer

feat: Complete critical business routes migration to TypeScript
  .claude/settings.local.json
Owners: @team-lead, @senior-developer

fix: Resolve rateLimiting integration test failure
  backend/src/middleware/__tests__/rateLimiting.integration.test.ts
Owners: @qa-lead

docs: Add comprehensive TypeScript migration summary report
  backend/MIGRATION_SUMMARY.md
Owners: @team-lead, @senior-developer

feat: Migrate availability utility to TypeScript with comprehensive time window management
  backend/src/utils/__tests__/availability.test.ts
  backend/src/utils/availability.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Migrate query-cache utility to TypeScript with comprehensive caching system
  backend/src/utils/__tests__/query-cache.test.ts
  backend/src/utils/query-cache.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Migrate aiServices to TypeScript with comprehensive AI/ML integration
  backend/src/services/__tests__/aiServices.simple.test.ts
  backend/src/services/aiServices.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Migrate financialAIService to TypeScript with comprehensive financial analytics
  backend/src/services/__tests__/financialAIService.simple.test.ts
  backend/src/services/financialAIService.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Migrate critical utilities and AI services to TypeScript
  .claude/settings.local.json
  backend/src/services/__tests__/aiServices.test.ts
  backend/src/services/__tests__/financialAIService.test.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate ai-suggestions route to TypeScript with comprehensive AI assignment functionality
  backend/src/routes/__tests__/ai-suggestions.test.ts
  backend/src/routes/ai-suggestions.bridge.js
  backend/src/routes/ai-suggestions.ts
  backend/src/types/ai-suggestions.ts
Owners: @qa-lead, @backend-lead, @team-lead, @senior-developer

feat: Migrate financial-reports route to TypeScript with comprehensive financial management
  backend/src/bridges/financial-reports-bridge.d.ts
  backend/src/bridges/financial-reports-bridge.js
  backend/src/routes/__tests__/financial-reports.simple.test.ts
  backend/src/routes/__tests__/financial-reports.test.ts
  backend/src/routes/financial-reports.ts
  backend/src/types/financial-reports.ts
Owners: @team-lead, @senior-developer, @qa-lead, @backend-lead

feat: Migrate financial-reports route with advanced analytics
  backend/src/types/financial-transactions.ts
Owners: @team-lead, @senior-developer

feat: Migrate financial-transactions route to TypeScript with comprehensive testing
  backend/src/middleware/__tests__/rateLimiting.integration.test.ts
  backend/src/routes/__tests__/financial-transactions.simple.test.ts
  backend/src/routes/__tests__/financial-transactions.test.ts
  backend/src/routes/financial-transactions.bridge.js
  backend/src/routes/financial-transactions.ts
Owners: @qa-lead, @backend-lead

feat: Migrate financial-dashboard route to TypeScript with comprehensive analytics
  backend/src/routes/__tests__/financial-dashboard.simple.test.ts
  backend/src/routes/financial-dashboard.bridge.js
  backend/src/routes/financial-dashboard.ts
  backend/src/types/financial-dashboard.ts
Owners: @qa-lead, @backend-lead, @team-lead, @senior-developer

feat: Migrate health and roles routes to TypeScript
  backend/src/routes/__tests__/health.test.ts
  backend/src/routes/health.js
  backend/src/routes/health.ts
  backend/src/routes/roles.js
  backend/src/routes/roles.ts
Owners: @qa-lead, @backend-lead

feat: Migrate invitations and locations routes to TypeScript
  backend/src/routes/invitations.js
  backend/src/routes/invitations.ts
  backend/src/routes/locations.js
  backend/src/routes/locations.ts
Owners: @backend-lead

feat: Migrate self-assignment and game-fees routes to TypeScript
  backend/src/routes/game-fees.js
  backend/src/routes/game-fees.ts
  backend/src/routes/self-assignment.js
  backend/src/routes/self-assignment.ts
Owners: @backend-lead

feat: Migrate payment-methods route to TypeScript
  backend/src/routes/payment-methods.js
  backend/src/routes/payment-methods.ts
Owners: @backend-lead

feat: Complete 50% milestone - Migrate final 5 routes to TypeScript
  backend/src/routes/compliance.js
  backend/src/routes/compliance.js.orig
  backend/src/routes/compliance.ts
  backend/src/routes/financial-approvals.js
  backend/src/routes/financial-approvals.js.orig
  backend/src/routes/financial-approvals.ts
  backend/src/routes/performance.js
  backend/src/routes/performance.js.orig
  backend/src/routes/performance.ts
  backend/src/routes/resources.js
  backend/src/routes/resources.js.orig
  backend/src/routes/resources.ts
  backend/src/routes/workflows.js
  backend/src/routes/workflows.js.orig
  backend/src/routes/workflows.ts
Owners: @backend-lead, @performance-specialist, @team-lead

docs: Add comprehensive architecture documentation and TS migration plan
  backend/MIGRATION-PLAN.md
  backend/quick-migrate.js
  docs/backend-uml-diagram.md
  docs/database-diagram.md
  docs/frontend-architecture-diagram.md
Owners: @team-lead, @senior-developer

fix: Resolve TypeScript compilation syntax errors
  README.md
  backend/docs/PHASE-2-TEST-REPORT.md
  backend/docs/migration/MIGRATION-PLAN.md
  backend/docs/migration/MIGRATION_SUMMARY.md
  backend/docs/migration/TYPESCRIPT_MIGRATION_PLAN.md
  backend/routes_list.txt
  backend/scripts/fix-syntax.sh
  backend/scripts/validate-test-environment.sh
  backend/src/routes/admin/maintenance.ts
  backend/src/routes/posts.ts
  backend/src/routes/referees.bridge.ts
  backend/src/services/MentorshipDocumentService.ts
  backend/src/services/RBACRegistryService.ts
  backend/src/services/SecurityService.ts
  backend/src/services/conflictDetectionService.bridge.ts
  config/Dockerfile
  config/audit-ci.json
  config/auth_token.txt
  config/components.json
  config/docker-compose.yml
  config/jsdoc.conf.json
  config/login_response.json
  config/pnpm-lock.yaml
  docs/development/CLAUDE.md
  docs/permissions/RBAC_PHASE_6_PERMISSIONS_MAPPING.md
  docs/screenshots/error-screenshot.png
  docs/screenshots/games-page-logged-in.png
  docs/screenshots/games-page-result.png
  docs/screenshots/games-page-test.png
  docs/screenshots/roles-page.png
  scripts/kill-localhost-ports.bat
Owners: @team-lead, @senior-developer, @backend-lead, @devops-lead, @product-owner

chore: Organize repository structure for professional codebase
  .claude/settings.local.json
  .github/README.md
  backend/package.json
  backend/src/services/BaseService.ts
  backend/tsconfig.json
Owners: @team-lead, @senior-developer, @backend-lead, @frontend-lead

docs: Add repository restructuring plan for frontend isolation
  docs/architecture/repository-structure.md
Owners: @team-lead, @senior-developer

fix: Resolve import/export issues for backend runtime
  .claude/settings.local.json
  backend/src/routes/admin/permissions.ts
  backend/src/routes/admin/roles.ts
  backend/src/routes/assignments.ts
  backend/src/routes/compliance.ts
  backend/src/routes/financial-approvals.ts
  backend/src/routes/performance.ts
  backend/src/routes/resources.ts
  backend/src/routes/workflows.ts
  backend/src/services/PermissionService.ts
Owners: @team-lead, @senior-developer, @backend-lead, @performance-specialist

fix: Complete backend TypeScript migration fixes - Server now runs!
  backend/src/routes/admin/access.ts
  backend/src/routes/admin/maintenance.ts
Owners: @backend-lead

fix: Resolve logger import issue in aiServices.ts
  .claude/settings.local.json
  backend/src/services/aiServices.ts
Owners: @team-lead, @senior-developer

docs: Update repository structure with TypeScript migration achievements
  docs/architecture/repository-structure.md
Owners: @team-lead, @senior-developer

ci: Update workflows for new frontend directory structure
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
Owners: @devops-lead, @team-lead

feat: Add root-level workspace management
  README.md
  package.json
Owners: @team-lead, @devops-lead

fix: Move scripts and fix component import
  frontend/app/admin/permissions/page.tsx
  frontend/scripts/fix-pipeline.sh
  frontend/scripts/kill-localhost-ports.bat
  frontend/scripts/rbac-scanner.js
  frontend/scripts/setup/automated-work-session.sh
  frontend/scripts/setup/install.sh
  frontend/scripts/setup/setup-github-integration.sh
  frontend/scripts/setup/validate-github-integration.sh
  frontend/scripts/validate-permissions.js
Owners: @frontend-lead, @team-lead, @senior-developer

Added claude setting, preventing claude from attributing to CC.
  .claude/settings.local.json
  backend/src/utils/validation-schemas.ts
Owners: @team-lead, @senior-developer

feat: Add Jest configuration for new TypeScript test suite
  .claude/settings.local.json
Owners: @team-lead, @senior-developer

fix: Update Jest config for new tests and add npm scripts
  backend/jest.config.new.js
  backend/package.json
Owners: @team-lead, @senior-developer, @backend-lead
