Repository fisherjoey/SportsManager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @senior-developer, @qa-lead, @devops-lead, @database-admin, @backend-lead, @security-lead, @game-feature-owner, @referee-feature-owner, @assignment-feature-owner, @frontend-lead, @design-system-owner, @dashboard-owner, @table-component-owner, @product-owner, @mobile-specialist, @performance-specialist, @integration-specialist

.github/CODEOWNERS:

# Code Owners for Sports Management App
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @team-lead @senior-developer

# QA and Testing Infrastructure
QA-QC-PLAN.md @qa-lead @team-lead
docs/TESTING-STANDARDS.md @qa-lead @team-lead
AGENT-GUIDELINES.md @qa-lead @team-lead
jest.config.js @qa-lead
.github/workflows/ @devops-lead @team-lead

# Database and Backend Architecture
backend/migrations/ @database-admin @backend-lead @team-lead
backend/seeds/ @database-admin @backend-lead
backend/src/config/ @backend-lead @team-lead
backend/src/middleware/ @backend-lead @security-lead
backend/knexfile.js @database-admin @backend-lead
database-schema.sql @database-admin @backend-lead

# Backend API Routes
backend/src/routes/ @backend-lead
backend/src/routes/auth.js @backend-lead @security-lead
backend/src/routes/games.js @backend-lead @game-feature-owner
backend/src/routes/referees.js @backend-lead @referee-feature-owner
backend/src/routes/assignments.js @backend-lead @assignment-feature-owner

# Frontend Architecture
app/ @frontend-lead
components/ @frontend-lead
components/ui/ @frontend-lead @design-system-owner
lib/ @frontend-lead
hooks/ @frontend-lead

# Core Business Logic Components
components/game-management.tsx @frontend-lead @game-feature-owner
components/referee-management.tsx @frontend-lead @referee-feature-owner
components/admin-dashboard.tsx @frontend-lead @dashboard-owner
components/data-table/ @frontend-lead @table-component-owner

# Authentication and Security
backend/src/middleware/auth.js @security-lead @backend-lead
components/auth-provider.tsx @security-lead @frontend-lead
components/login-form.tsx @security-lead @frontend-lead

# Configuration Files
package.json @team-lead @devops-lead
backend/package.json @team-lead @backend-lead
next.config.mjs @frontend-lead @devops-lead
tailwind.config.ts @frontend-lead @design-system-owner
tsconfig.json @frontend-lead @team-lead

# CI/CD and DevOps
.github/ @devops-lead @team-lead
.eslintrc.js @qa-lead @team-lead
backend/.eslintrc.js @qa-lead @backend-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
README.md @team-lead
backend/README.md @backend-lead @team-lead
GITHUB-INTEGRATION-GUIDE.md @devops-lead @team-lead
CLAUDE.md @team-lead @product-owner

# Sensitive Configuration (require extra scrutiny)
.env* @security-lead @devops-lead @team-lead
**/secrets* @security-lead @devops-lead
**/*secret* @security-lead @devops-lead

# Testing Files (require QA approval)
**/*.test.* @qa-lead
**/*.spec.* @qa-lead
**/tests/ @qa-lead
__tests__/ @qa-lead
backend/tests/ @qa-lead @backend-lead

# Mobile and Responsive Design
**/*mobile* @frontend-lead @mobile-specialist
**/*responsive* @frontend-lead @mobile-specialist

# Performance Critical Files
**/*performance* @performance-specialist @team-lead
**/*optimization* @performance-specialist
lib/utils.ts @frontend-lead @performance-specialist

# External Integrations
**/integrations/ @integration-specialist @backend-lead
**/webhooks/ @integration-specialist @security-lead

feat: Establish TypeScript foundation for backend migration (Phase 1)
  backend/nodemon.json
  backend/package.json
  backend/src/types/api.types.ts
  backend/src/types/auth.types.ts
  backend/src/types/business.types.ts
  backend/src/types/database.types.ts
  backend/src/types/index.ts
  backend/tsconfig.json
Owners: @team-lead, @senior-developer, @backend-lead, @frontend-lead

feat: Complete Phase 2 Services Layer TypeScript Migration
  backend/PHASE-2-TEST-REPORT.md
  backend/src/services/AssignmentService.ts
  backend/src/services/BaseService.ts
  backend/src/services/RoleService.js
  backend/src/services/RoleService.ts
  backend/src/services/UserService.js
  backend/src/services/UserService.ts
Owners: @team-lead, @senior-developer

feat: Convert games routes from JavaScript to TypeScript with comprehensive game management typing
  backend/src/routes/games.js
  backend/src/routes/games.ts
  backend/src/types/auth.types.ts
Owners: @backend-lead, @game-feature-owner, @team-lead, @senior-developer

feat: Complete Phase 3 Routes & Controllers TypeScript Migration
  backend/src/routes/assignments.js
  backend/src/routes/assignments.ts
  backend/src/routes/auth.js
  backend/src/routes/auth.ts
  backend/src/routes/users.js
  backend/src/routes/users.ts
  backend/src/types/api.types.ts
Owners: @backend-lead, @assignment-feature-owner, @security-lead, @team-lead, @senior-developer

feat: Phase 4 Infrastructure TypeScript Migration (Partial)
  backend/src/middleware/auth.ts
  backend/src/middleware/errorHandling.ts
  backend/src/middleware/validation.ts
  backend/src/utils/errors.ts
Owners: @backend-lead, @security-lead, @team-lead, @senior-developer

feat: Continue TypeScript migration for backend middleware and services
  backend/knexfile.d.ts
  backend/knexfile.d.ts.map
  backend/src/middleware/auth.js
  backend/src/middleware/errorHandling.js
  backend/src/middleware/validation.js
  backend/src/routes/assignments.ts
  backend/src/routes/auth.ts
  backend/src/routes/games.ts
  backend/src/services/AssignmentService.ts
  backend/src/services/BaseService.ts
  backend/src/services/RoleService.ts
  backend/src/types/api.types.ts
  backend/src/types/database.types.ts
  backend/src/types/index.ts
Owners: @team-lead, @senior-developer, @security-lead, @backend-lead

feat: Complete Phase 5.1 - Migrate all config files to TypeScript
  backend/TYPESCRIPT_MIGRATION_PLAN.md
  backend/src/config/aiConfig.js
  backend/src/config/aiConfig.js.backup
  backend/src/config/aiConfig.ts
  backend/src/config/database.js
  backend/src/config/database.js.backup
  backend/src/config/database.ts
  backend/src/config/queue.js
  backend/src/config/queue.js.backup
  backend/src/config/queue.ts
  backend/src/config/redis.js
  backend/src/config/redis.js.backup
  backend/src/config/redis.ts
Owners: @team-lead, @senior-developer, @backend-lead

test: Add comprehensive tests for rateLimiting middleware
  backend/jest.config.js
  backend/src/middleware/__tests__/rateLimiting.test.ts
  backend/tests/setup.js
Owners: @qa-lead, @backend-lead

feat: Migrate rateLimiting middleware to TypeScript
  backend/jest.config.js
  backend/src/middleware/__tests__/rateLimiting.integration.test.ts
  backend/src/middleware/rateLimiting.js
  backend/src/middleware/rateLimiting.ts
Owners: @qa-lead, @backend-lead, @security-lead

test: Add comprehensive tests for sanitization middleware
  backend/src/middleware/__tests__/sanitization.test.ts
Owners: @qa-lead

feat: Migrate sanitization middleware to TypeScript
  backend/src/middleware/sanitization.js
  backend/src/middleware/sanitization.ts
Owners: @backend-lead, @security-lead

feat: Complete performanceMonitor middleware TypeScript migration
  backend/jest.config.js.backup
  backend/package-lock.json
  backend/package.json
  backend/src/middleware/__tests__/performanceMonitor.test.ts
  backend/src/middleware/performanceMonitor.js
  backend/src/middleware/performanceMonitor.js.backup
  backend/src/middleware/performanceMonitor.ts
  backend/src/middleware/rateLimiting.js.backup
  backend/src/middleware/sanitization.js.backup
  backend/src/middleware/sanitization.ts.broken
Owners: @team-lead, @senior-developer, @backend-lead, @performance-specialist, @security-lead

feat: Complete responseCache middleware TypeScript migration
  backend/src/middleware/__tests__/responseCache.test.ts
  backend/src/middleware/responseCache.js
  backend/src/middleware/responseCache.js.backup
  backend/src/middleware/responseCache.ts
Owners: @qa-lead, @backend-lead, @security-lead

feat: Migrate CacheService to TypeScript with TDD
  backend/src/services/CacheService.js
  backend/src/services/CacheService.js.backup
  backend/src/services/CacheService.ts
  backend/src/services/__tests__/CacheService.test.ts
  backend/src/types/cache.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate PermissionService to TypeScript with TDD
  backend/src/services/PermissionService.js
  backend/src/services/PermissionService.js.backup
  backend/src/services/PermissionService.ts
  backend/src/services/__tests__/PermissionService.test.ts
  backend/src/types/permission.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate RefereeService to TypeScript with TDD
  backend/src/services/BaseService.ts
  backend/src/services/RefereeService.js
  backend/src/services/RefereeService.ts
  backend/src/services/__tests__/RefereeService.test.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate emailService to TypeScript with TDD
  backend/src/services/__tests__/emailService.test.ts
  backend/src/services/emailService.js
  backend/src/services/emailService.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Migrate referees routes to TypeScript with TDD approach
  backend/src/routes/__tests__/referees.test.ts
  backend/src/routes/referees.bridge.js
  backend/src/routes/referees.js
  backend/src/routes/referees.ts
  backend/tsconfig.json
Owners: @qa-lead, @backend-lead, @referee-feature-owner, @frontend-lead, @team-lead

fix: Resolve test failures in TypeScript migrated middleware
  backend/src/middleware/__tests__/rateLimiting.test.ts
  backend/src/middleware/sanitization.ts
Owners: @qa-lead, @backend-lead, @security-lead

feat: Migrate leagues routes to TypeScript with TDD approach
  backend/src/routes/__tests__/leagues.test.ts
  backend/src/routes/leagues.bridge.js
  backend/src/routes/leagues.js
  backend/src/routes/leagues.ts
Owners: @qa-lead, @backend-lead

feat: Migrate teams routes to TypeScript with TDD approach
  backend/src/routes/__tests__/teams.test.ts
  backend/src/routes/teams.bridge.js
  backend/src/routes/teams.js
  backend/src/routes/teams.ts
Owners: @qa-lead, @backend-lead

feat: Migrate availability routes to TypeScript with TDD approach
  backend/src/routes/__tests__/availability.test.ts
  backend/src/routes/availability.bridge.js
  backend/src/routes/availability.js
  backend/src/routes/availability.ts
Owners: @qa-lead, @backend-lead

feat: Migrate GameStateService to TypeScript with TDD
  backend/src/services/GameStateService.bridge.js
  backend/src/services/GameStateService.js.backup
  backend/src/services/GameStateService.ts
  backend/src/services/__tests__/GameStateService.test.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate LocationDataService to TypeScript with TDD
  backend/src/services/LocationDataService.bridge.js
  backend/src/services/LocationDataService.js.backup
  backend/src/services/LocationDataService.ts
  backend/src/services/__tests__/LocationDataService.test.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate DistanceCalculationService to TypeScript with TDD
  backend/src/services/DistanceCalculationService.bridge.js
  backend/src/services/DistanceCalculationService.js.backup
  backend/src/services/DistanceCalculationService.ts
  backend/src/services/__tests__/DistanceCalculationService.test.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate MentorshipService to TypeScript with TDD
  backend/src/services/MentorshipService.bridge.js
  backend/src/services/MentorshipService.js.backup
  backend/src/services/MentorshipService.ts
  backend/src/services/__tests__/MentorshipService.test.ts
Owners: @team-lead, @senior-developer, @qa-lead

feat: Migrate admin/permissions routes to TypeScript with TDD approach
  .claude/settings.local.json
  backend/src/routes/admin/__tests__/permissions.test.ts
  backend/src/routes/admin/permissions.ts
Owners: @team-lead, @senior-developer, @qa-lead, @backend-lead

feat: Migrate admin/roles routes to TypeScript with TDD approach
  backend/src/routes/admin/__tests__/roles.test.ts
  backend/src/routes/admin/roles.ts
Owners: @qa-lead, @backend-lead

feat: Migrate admin/users routes to TypeScript with TDD approach
  backend/src/routes/admin/__tests__/users.test.ts
  backend/src/routes/admin/users.ts
Owners: @qa-lead, @backend-lead

feat: Migrate admin/access routes to TypeScript with TDD approach
  backend/src/routes/admin/__tests__/access.test.ts
  backend/src/routes/admin/access.ts
Owners: @qa-lead, @backend-lead

feat: Migrate response-formatters utility to TypeScript with TDD
  backend/src/utils/__tests__/response-formatters.test.ts
  backend/src/utils/response-formatters.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Migrate validation-schemas utility to TypeScript with TDD
  backend/src/utils/__tests__/validation-schemas.test.ts
  backend/src/utils/validation-schemas.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Complete major TypeScript migration milestones
  .claude/settings.local.json
Owners: @team-lead, @senior-developer

feat: Migrate logger utility to TypeScript with TDD approach
  backend/src/utils/__tests__/logger.simple.test.ts
  backend/src/utils/__tests__/logger.test.ts
  backend/src/utils/logger.bridge.js
  backend/src/utils/logger.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Complete errors utility TypeScript migration with comprehensive testing
  backend/src/utils/__tests__/errors.simple.test.ts
  backend/src/utils/__tests__/errors.test.ts
  backend/src/utils/errors.bridge.js
Owners: @qa-lead, @team-lead, @senior-developer

feat: Migrate query-builders utility to TypeScript with comprehensive type safety
  backend/src/utils/__tests__/query-builders.simple.test.ts
  backend/src/utils/__tests__/query-builders.test.ts
  backend/src/utils/query-builders.bridge.js
  backend/src/utils/query-builders.ts
Owners: @qa-lead, @team-lead, @senior-developer

feat: Migrate reports routes to TypeScript with TDD approach
  backend/src/routes/__tests__/reports.test.ts
  backend/src/routes/reports.bridge.js
  backend/src/routes/reports.js
  backend/src/routes/reports.ts
Owners: @qa-lead, @backend-lead

feat: Migrate calendar routes to TypeScript with TDD approach
  backend/src/routes/__tests__/calendar.test.ts
  backend/src/routes/calendar.bridge.js
  backend/src/routes/calendar.js
  backend/src/routes/calendar.ts
Owners: @qa-lead, @backend-lead

feat: Migrate tournaments routes to TypeScript with TDD
  backend/src/routes/__tests__/tournaments.test.ts
  backend/src/routes/tournaments.bridge.js
  backend/src/routes/tournaments.js
  backend/src/routes/tournaments.ts
  backend/src/types/business.types.ts
Owners: @qa-lead, @backend-lead, @team-lead, @senior-developer

feat: Migrate communications to TypeScript with TDD approach
  backend/src/routes/__tests__/communications.test.ts
  backend/src/routes/communications.js
  backend/src/routes/communications.ts
  backend/src/services/CommunicationService.ts
  backend/src/services/__tests__/CommunicationService.test.ts
  backend/src/types/communication.ts
Owners: @qa-lead, @backend-lead, @team-lead, @senior-developer
